.page-wrapper.portfolio {
	.hop-video {
		max-height: 94%;
	    max-width: 90%;
	    padding: 12% 4.1%;
	    background-image: url(#{$hopLoc}/img/hop-phone.png);
	    background-size: 100%;
	    background-repeat: no-repeat;
	    padding-bottom: 64px;
	}
	.hop-phone {
		margin-top: 60px;
	}
	.video-ideas {
		background-image: url(#{$recallLoc}/img/ideas.png);
		margin-top: 120px;
	}
}