<div class="page-wrapper portfolio">    
<section class="">
  <div id="projects">
  <div class="container-fluid">
    <div class="row row1">
        <div id="crm" class="col-md-8 col-sm-12 col-xs-12">
          <a ng-click="verifyPwd('crm')" role="button" class="col-md-12 col-sm-12 col-xs-12">
          <div class="text-center responsive img-container">
          </div>  
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Customer Relationship Management</p>
            </div>
            <p class="description">User Research, Interaction Design, Visual Design</p>
          </div>
          </a>
        </div> 
        <div id="hop" class="col-md-4 col-sm-6 col-xs-12">
        <a role="button" href="#/portfolio/hop" class="col-md-12 col-sm-12 col-xs-12">
         <div class="responsive img-container">
          </div>
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Hop</p>
            </div>
            <p class="description">Interaction & Visual Design, Animation</p>
          </div>
        </a>
      </div>
      <div id="chatify" class="col-md-4 col-sm-6 col-xs-12">
          <a href="#/portfolio/chatify"  role="button" class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-center responsive img-container">
            </div>
            <div class="details col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                <p class="head2">Chatify</p>
              </div>
              <p class="description">Interaction & Visual Design</p>
            </div>
          </a>
        </div>
      
      <div id="recall" class="col-md-4 col-sm-6 col-xs-12">
        <a href="#/portfolio/recall" class="col-md-12 col-sm-12 col-xs-12">
          <div class="responsive img-container">
          </div>  
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Recall</p>
            </div>
            <p class="description">Interaction & Visual Design, Animation</p>
          </div>
        </a>
      </div>
      <div id="infoviz" class="col-md-4 col-sm-6 col-xs-12">
        <a role="button" href="#/portfolio/infoviz" class="col-md-12 col-sm-12 col-xs-12">
          <div class="responsive img-container">
          </div>
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Cost of living in USA</p>
            </div>
            <p class="description">Information Visualization</p>
          </div>
        </a>
     </div>
    </div>
  </div>
  
  </div>
</section>
</div>