<div class="page-wrapper portfolio">    
<section class="">
  <div id="projects">
  <div class="container-fluid">
    <div class="row row1">
        <div id="crm" class="col-md-8 col-sm-8 col-xs-12">
          <a href="#/portfolio/crm" class="col-md-12 col-sm-12 col-xs-12">
          <div class="text-center responsive img-container">
          </div>  
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Customer Relationship Management</p>
            </div>
            <p class="description">User Research, Interaction Design, Visual Design</p>
          </div>
          </a>
        </div> 
        <div id="hop" class="col-md-4 col-sm-6 col-xs-12">
        <a role="button" href="#/portfolio/hop" class="col-md-12 col-sm-12 col-xs-12">
         <div class="responsive img-container">
          </div>
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Hop</p>
            </div>
            <p class="description">Interaction & Visual Design, Animation</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row2">
    <div id="chatify" class="col-md-4 col-sm-4 col-xs-12">
          <a href="#/portfolio/chatify" class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-center responsive img-container">
            </div>
            <div class="details col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                <p class="head2">Chatify</p>
              </div>
              <p class="description">Interaction & Visual Design</p>
            </div>
          </a>
        </div>
      
      <div id="recall" class="col-md-4 col-sm-6 col-xs-12">
        <a href="#/portfolio/recall" class="col-md-12 col-sm-12 col-xs-12">
          <div class="responsive img-container">
          </div>  
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Recall</p>
            </div>
            <p class="description">Interaction & Visual Design, Animation</p>
          </div>
        </a>
      </div>
      <div id="infoviz" class="col-md-4 col-sm-12 col-xs-12">
        <a role="button" href="#/portfolio/infoviz" class="col-md-12 col-sm-12 col-xs-12">
          <div class="responsive img-container">
          </div>
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Cost of living in USA</p>
            </div>
            <p class="description">Information Visualization</p>
          </div>
        </a>
     </div>
    </div>
    
  </div>
  <div class="container-fluid">
    <div class="row row3">
      <div id="milan" class="col-md-6 col-sm-6 col-xs-12">
        <a role="button" href="#/portfolio/milan" class="col-md-12 col-sm-12 col-xs-12">
          <div class="responsive img-container">
          </div>
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Snack Smart</p>
            </div>
            <p class="description">User Research, Interaction Design, Usability Testing</p>
          </div>
        </a>
     </div>
      <div id="wscpa" class="col-md-6 col-sm-6 col-xs-12">
        <div class="temp col-md-12 col-sm-12 col-xs-12">
          <div class="responsive img-container">
          </div>
          <div class="details col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p class="head2">Course Catalog Redesign</p>
            </div>
            <p class="description">(Coming Soon)</p>
          </div>
        </div>
     </div>
    </div>
  </div>
  <div class="container-fluid pad-top-40">
    <h4 class="text-primary text-center ">Projects Under NDA</h4>
    <div class="row row4">
     <div id="vm" class="col-md-4 col-sm-6 col-xs-12">
      <div class="temp">
        <div class="responsive img-container col-md-12">
        </div>
        <div class="text">
          <p class="head2">Virgin Media Pre-sales</p>
        </div>
      </div>
     </div>  
     <div id="statement" class="col-md-4 col-sm-6 col-xs-12">
      <div class="temp">
        <div class="responsive img-container col-md-12">
        </div>
        <div class="text">
          <p class="head2">Smart Financial Statement</p>
        </div>
      </div>
     </div>  
       <div id="citi" class="col-md-4 col-sm-6 col-xs-12">
        <div class="temp">
          <div class="responsive img-container col-md-12">
            </div>
            <div class="text">
              <p class="head2">Citi Global Tablet</p>
            </div>
         </div>
       </div>
    </div>
    </div> 
  </div>
</section>
</div>