
<div class="page-wrapper portfolio">
<section class="">
  <div id="projects">
  <div class="container-fluid">
    <div class="row row1">
      
        <div id="crm" class="col-md-8 col-sm-6 col-xs-12">
          <a href="#/portfolio/crm">
          <div class="text-center responsive img-container">
              <img class="" src="app/components/crm/img/prototypes/crm-display.png" alt="CRM">
          </div>  
          <div class="text">
              <p class="head2">CRM Application</p>
            </div>
          <!-- <div class="details">
            
            <ul class="roles">
              <li class="col-md-4 col-sm-6 col-xs-6">
                <div class="lnr lnr-puzzle"></div>
                <p>Problem Solving</p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-6">
                <div class="lnr lnr-user"></div>
                <p>User Research</p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-6">
                <div class="lnr lnr-pencil"></div>
                <p>Wireframing</p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-6">
                <div class="lnr lnr-clipboard-check"></div>
                <p>Usability Testing</p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-6">
                <div class="lnr lnr-brush"></div>
                <p>Visual Design</p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-6">
                <div class="lnr lnr-laptop-phone"></div>
                <p>Prototyping</p>
              </li>
            </ul>
          </div>-->
          </a>
        </div> 
        <div id="chatify" class="col-md-4 col-sm-6 col-xs-12">
          <a href="#/portfolio/chatify">
          <div class="text-center responsive img-container">
              <img  src="app/components/chatify/img/prototypes/chatify-phone.png" alt="Chatify">
          </div>
          <div class="text">
              <p class="head2">Chatify</p>
            </div>
            </a>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row2">
      <div id="recall" class="col-md-6 col-sm-6 col-xs-12">
        <a href="#/portfolio/recall">
          <div class="responsive img-container">
              <img src="app/components/recall/img/ideas.png" alt="Recall">
          </div>  
          <div class="text">
            <p class="head2">Never Forget A Conversation</p>
          </div>
        </a>
      </div>
      <div id="hop" class="col-md-6 col-sm-6 col-xs-12">
        <a role="button" href="#/portfolio/hop">
         <div class="responsive img-container">
          </div>
          <div class="text">
            <p class="head2">Grocery Shopping Made Easy</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="infoviz" class="col-md-6 col-sm-6 col-xs-12">
        <a role="button" href="#/portfolio/infoviz">
          <div class="responsive img-container">
              <img src="app/components/infoviz/img/infoviz-cover.png" alt="Information Visualization">
          </div>
          <div class="text">
            <p class="head2">Cost of living in USA</p>
          </div>
        </a>
     </div>
      <div id="milan" class="col-md-6 col-sm-6 col-xs-12">
        <a role="button" href="#/portfolio/milan">
          <div class="responsive img-container">
              <img src="app/components/milan/img/prototypes/food-groups.png" alt="Milan">
          </div>
          <div class="text">
            <p class="head2">Snack Smart</p>
          </div>
        </a>
     </div>
    </div>
  </div>
  <div class="container-fluid pad-top-40">
    <h4 class="text-primary text-center ">Projects Under NDA</h4>
    <div class="row row4">
     <div id="vm" class="col-md-4 col-sm-6 col-xs-12">
        <div class="responsive img-container">
        </div>
        <div class="text">
          <p class="head2">Virgin Media Pre-sales Portal</p>
        </div>
     </div>  
     <div id="statement" class="col-md-4 col-sm-6 col-xs-12">
        <div class="responsive img-container">
        </div>
        <div class="text">
          <p class="head2">Smart Financial Statement</p>
        </div>
     </div>  
       <div id="citi" class="col-md-4 col-sm-6 col-xs-12">
        <div class="responsive img-container">
          </div>
          <div class="text">
            <p class="head2">Citi - Front-end Development</p>
          </div>
       </div>
    </div>
    </div> 
  </div>
</section>
<section id="fun-stuff" class="pad-top-40">
    <a href="#/portfolio/recall" class="inv-overlay"></a>
    
    <div class="container text-center">
      <h4 class="text-primary">Just For Fun</h4>
      <div class="row pad-bottom-40">
        <div class="col-md-4">
          <p>Data Visualization</p>
          <a href="#/portfolio/visualization">
            <div class="img-holder">
              <img class="apple-watch" src="app/components/graphics/img/info-viz.jpg">
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <p>Apple Watch Redesign</p>
          <a href="#/portfolio/redesign">
            <div class="img-holder">
              <img class="apple-watch" src="app/components/redesign/img/apple-watch.jpg">
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <p>Graphic Designs</p>
          <a href="#/portfolio/graphics">
            <div class="img-holder">
              <img class="elephant" src="app/components/graphics/img/elephant.png" alt="Musical Elephant">
            </div>
          </a>
        </div>
      </div>
    </div>
  </section> 
</div>