<div class="page-wrapper about">
  <section class="video">
    <div class="video-holder">
      <div class="inside switcher1"></div>
      <div class="overlay"></div>
    </div>
  </section>
  <section class="background">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </section>

  <section class="snippets">
    <div class="container">
      <div class="row">
         <ul class="snippets trivia">
          <li class="col-md-3 col-sm-6 col-xs-6" data-wow-delay="0.5s">
            <span class="lnr lnr-cog"></span>
            <h4>Working On</h4>
            <p>Information Visualization</p>
          </li>
          <li class="col-md-3 col-sm-6  col-xs-6" data-wow-delay="0.8s">
            <span class="lnr lnr-book"></span>
            <h4>Learning Today</h4>
            <p>Framer Studio</p>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-6 " data-wow-delay="0.8s">
            <span class="lnr lnr-dinner"></span>
            <h4>Binge Cuisine</h4>
            <p>Homemade Indian food</p>
          </li>
          <li class="col-md-3 col-sm-6  col-xs-6 social text-center" data-wow-delay="1.0s">
            <span class="lnr lnr-bubble"></span>
            <h4 class="text-gray">Active On</h4>
            <ul class="links col-xs-12">
              <li class="rotateIn"><a href="http://in.linkedin.com/in/raviarvind" title="LinkedIn" data-toggle="tooltip" data-placement="bottom" target="_blank"><span class="fa fa-linkedin fa-lg"></span></a></li>
              <li class="rotateIn"><a href="https://www.facebook.com/ravi.arvind" title="Facebook" data-toggle="tooltip" data-placement="bottom" target="_blank"><span class="fa fa-facebook fa-lg"></span></a></li>
              <li class="rotateIn"><a href="https://twitter.com/_aravindravi" title="Twitter" data-toggle="tooltip" data-placement="bottom" target="_blank"><span class="fa fa-twitter fa-lg"></span></a></li>
              <li class="rotateIn"><a href="https://medium.com/@aravindravi" title="Medium" data-toggle="tooltip" data-placement="bottom" target="_blank"><span class="fa fa-medium fa-lg"></span></a></li>
              <li class="rotateIn"><a href="mailto:aravind.ravi@outlook.com" title="Email" data-toggle="tooltip" data-placement="bottom" target="_blank"><span class="fa fa-envelope fa-lg"></span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>  
  </section>

  <section class="road-to-ux">

  </section>
</div>