<div class="page-wrapper about">
  <section class="video">
    <div class="video-holder">
      <div class="inside switcher1"></div>
      <div class="overlay"></div>
    </div>
  </section>
  <section class="road-to-ux">
    <div class="container">
      <div class="row">
        <div class="background"></div>
        <ul>
          <li class="col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </li>
         <li class="col-md-12">
            <div></div>
            <div></div>
          </li>
          <li class="col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </li>
          <li class="col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </li>
          <li class="col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>