
<section id="bio">
  <div class="container">
    <div class="row">
      <h2 class="quote col-md-12"></h2>
      <p></p>
    </div>
  </div>
<section id="experience">
      <div class="container">
      <div class="row">
        <div class="slide-title"><a href="#experience"><h2>Timeline</h2></a></div>
        <ul class="timeline col-md-12">
          <li class="col-md-3 col-sm-3">
            <div class="timeline-image sastra wow zoomIn" data-wow-offset="60"></div>
            <div class="details">
              <div class="date">Jun '07 - May '11</div>
              <div class="place">SASTRA University</div>
              <div class="title">B. Tech. - Information & Communication Technology</div>
              <div class="description"></div>
            </div>
          </li>
          <li class="col-md-3 col-sm-3">
            <div class="timeline-image tcs wow zoomIn" data-wow-offset="60"></div>
            <div class="details">
              <div class="date">Aug '11 - Aug '14</div>
              <div class="place">Tata Consultancy Services</div>
              <div class="title">UX Designer & Front-end Developer</div>
              <div class="description"></div>
            </div>
          </li>
          <li class="col-md-3 col-sm-3">
            <div class="timeline-image hcde wow zoomIn" data-wow-offset="60"></div>
            <div class="details">
              <div class="date">Sep '14 - Present</div>
              <div class="place">University of Washington</div>
              <div class="title">MS - Human Centered Design & Engineering</div>
              <div class="description"></div>
            </div>
          </li>
          <li class="col-md-3 col-sm-3">
            <div class="timeline-image fresh wow zoomIn" data-wow-offset="60"></div>
            <div class="details">
              <div class="date">Jun '15 - Sep '15</div>
              <div class="place">Fresh Consulting</div>
              <div class="title">UX Design Intern</div>
              <div class="description"></div>
            </div>
          </li>
        </ul>
      </div>
      <br><br><br><div class="slide-title"><a href="#experience"><h2>Fun Facts</h2></a></div>
      <div class="row">
      <ul class="fun-facts col-md-12 clearfix">
        <li class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-offset="60">
          <div><span class="fa fa-code fa-2x"></span></div>
          <div>
            <p>Coded my <strong>first web page</strong> when I was 11<br><br></p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-offset="60">
          <div><span class="fa fa-music fa-2x"></span></div>
          <div>
            <p>Player of <strong>5 musical instruments</strong></p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-offset="60">
          <div><span class="fa fa-graduation-cap fa-2x"></span></div>
          <div>
            <p><strong>28 online courses</strong> completed on MOOCs<br><br></p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-offset="60">
          <div><span class="fa fa-unlock-alt fa-2x"></span></div>
          <div>
            <p><strong>Introverted</strong> yet succinct storyteller<br><br></p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-offset="60">
          <div><span class="fa fa-square-o fa-2x"></span></div>
          <div>
            <p><strong>Minimalist</strong> in design and in life<br><br></p>
          </div>
        </li>            
        <li class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-offset="60">
          <div><span class="fa fa-cutlery fa-2x"></span></div>
          <div>
            <p><strong>Home made</strong> Indian food hogger<br><br></p>
          </div>
        </li>
      </ul>
      </div>
      <br><br><br><div class="slide-title"><a href="#experience"><h2>Skills</h2></a></div>
        <div class="row">
          <ul class="skills col-md-12">
            <li class="col-md-4 col-sm-4">
              <div class="chart" data-percent="90"><span class="percent fed">Interaction<br>Design</span></div>
              <ul class="tags">
                <li class="wow rotateInDownLeft" data-wow-offset="60">Axure</li>
                <li class="wow rotateInDownLeft" data-wow-offset="60">Balsamiq</li>
                <li class="wow rotateInDownLeft" data-wow-offset="60">InVision</li>
                <li class="wow rotateInDownLeft" data-wow-offset="60">Origami</li>
                <li class="wow rotateInDownLeft" data-wow-offset="60">Framer</li>
                <li class="wow rotateInDownLeft" data-wow-offset="60">Paper & Pencil</li>
              </ul>
            </li>
            <li class="col-md-4 col-sm-4">
              <div class="chart" data-percent="85"><span class="percent fed">Front-end Development</span></div>
              <ul class="tags">
                <li class="wow rotateInDownLeft" data-wow-delay=".4s" data-wow-offset="60">HTML5</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".4s" data-wow-offset="60">CSS3</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".4s" data-wow-offset="60">JavaScript</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".4s" data-wow-offset="60">jQuery</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".4s" data-wow-offset="60">Bootstrap</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".4s" data-wow-offset="60">Angular JS</li>
              </ul>
            </li>
            <li class="col-md-4 col-sm-4">
              <div class="chart" data-percent="75"><span class="percent">Visual Design</span></div>
              <ul class="tags">
                <li class="wow rotateInDownLeft" data-wow-delay=".8s" data-wow-offset="60">Sketch</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".8s" data-wow-offset="60">Photoshop</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".8s" data-wow-offset="60">Illustrator</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".8s" data-wow-offset="60">InDesign</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".8s" data-wow-offset="60">Flash</li>
                <li class="wow rotateInDownLeft" data-wow-delay=".8s" data-wow-offset="60">After Effects</li>
              </ul>
            </li>
          </ul>
        </div>
  <!-- <div class="col-md-6 text-center">
    <p>Everything you need to know about where I come from, how I got into design and lessons I've learned along the way.</p>
    <a class="btn btn-primary wow bounceIn" data-wow-offset="60" data-target="#modal" role="button" data-toggle="modal" href="assets/templates/story.html">Read my story</a>
    <br><br><br>
  </div> 
  <div class="col-md-3"></div> -->
</section> 
 