
<div class="page-wrapper recall">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Recall</h1>
	          <h2>Never Forget A Conversation</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
					<div>
						<ul class="roles">
						<li class="col-md-2">
								<div class="lnr lnr-puzzle"></div>
								<p>Problem Solving</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-user"></div>
								<p>User Research</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-pencil"></div>
								<p>Wireframing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-laptop-phone"></div>
								<p>Prototyping</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-sync"></div>
								<p>Iterations</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="product">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>INTRODUCTION...</h3>
					<p class="text-big pad-bottom-40">Recall is an application that helps you keep track and make sense of the daily conversations you have</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<video class="video-phone video-home" autoplay loop poster="none">
	            <source src="app/components/recall/videos/home.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
	        </video>
        </div>
				<div class="col-md-8">
					<h2>Save Conversations</h2>
					<p>Recall your conversations any time at your will</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<h2>Store Your Thoughts</h2>
					<p>Save meaningful thoughts, ideas and actionable events </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<video class="video-perspective" autoplay loop poster="none">
	            <source src="app/components/recall/videos/perspective.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
	        </video>
        </div>
			</div>
		</div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="text-center">
			<h3 class="text-center">PROTOTYPES</h3>
			<h4 class="text-center">Material Design on Android</h4>
			</div>
			<div class="row">
				<div class="section-title col-md-6">
					<img class="wireframe" src="app/components/recall/img/wireframes.png" alt="Wireframe">
				</div>
				<div class="section-title col-md-6">
					<img class="wireframe" src="app/components/recall/img/prototypes.png" alt="Prototype">
				</div>
			</div>
			<h4 class="text-center">Apple Watch</h4>
			<div class="row">
				<div class="col-md-6 text-center">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<video class="video-watch video-ideas" autoplay loop poster="none">
		            <source src="app/components/recall/videos/ideas.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
		        </video>
	        </div>
	        <div class="col-md-2"></div>
				</div>
				<div class="col-md-6 text-center">
					<div class="col-md-2"></div>
						<div class="col-md-8">
							<video class="video-watch video-transcribe" autoplay loop poster="none">
			            <source src="app/components/recall/videos/transcribe.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			        </video>
	        </div>
	        <div class="col-md-2"></div>
				</div>
			</div>
			<h4 class="text-center">System Flow</h4>
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<img class="wireframe" src="app/components/recall/img/ux-flow.jpg" alt="UX Flow">
			</div>
			<div class="col-md-2"></div>
		</div>
	</section>
	<section class="problem">
		<div class="container">
		<hr>
			<div class="row">
				<div class="section-title">
					<h3>THE DESIGN PROCESS</h3>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h4 class="text-center">CONTEXT</h4>
					<img src="app/components/recall/img/protohack2.jpg" alt="Protohack Seattle">
					<p>Protohack Seattle was conducted in March 2015. Recall was the product I designed along with 4 other designers during the 1-day hackathon. The idea was iterated upon further after the hackathon and conceptualized into smartwatches.</p>
					<h4 class="text-center">THE TEAM</h4>
					<div class="team">
						<a href="//www.aaronbrako.com" target="_blank">Aaron Brako</a> - Designer, <a href="//www.aravind-ravi.com" target="_blank">Aravind Ravi (me)</a> - Designer, <a href="//www.amarkohli.com" target="_blank">Amar Kohli</a> - Designer, <a href="//www.sonalsrivastava.com" target="_blank">Sonal Srivastava</a> - Researcher, <a href="//www.suryaprakashv.com" target="_blank">Surya Vijayaraghavan</a> - Researcher
					</div>
					<h4 class="text-center">MY ROLES</h4>
					<ul class="toc-list">
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-cog lnr-lg"></span>
								<p class="icon-caption">Planning</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-magnifier lnr-lg"></span>
								<p class="icon-caption">User Research</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-users2 lnr-lg"></span>
								<p class="icon-caption">Personas</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-magic-wand lnr-lg"></span>
								<p class="icon-caption">Ideation</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-pencil lnr-lg"></span>
								<p class="icon-caption">Wireframing</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-smartphone lnr-lg"></span>
								<p class="icon-caption">Prototyping</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</section>
	<section class="user-research">
		<div class="container">
		<hr>
			<div class="row">
				<div class="section-title">
					<h3>USER RESEARCH</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h4>User Interviews</h4>
					<img src="app/components/recall/img/protohack.jpg" alt="Protohack Seattle">
					<p>The hackthon event was a 1 day event. We spent more time in research and ideation as we had the skills to come up with quick and awesome prototypes. Sonal and Surya took the lead in coming up with a research plan. We conducted 3 interviews each for 5 minutes.</p>
					<h4>Research Questions</h4>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<ul class="questions">
					<li class="col-md-4 col-sm-6 gray-box">
						<p>What kind of notes do they take?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>How do they set reminders for themselves?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>When was the last time they forgot something?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>What kind of apps do they use to track tasks?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>What do they put on their calendar?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>How do they take notes and find them later?</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>PERSONAS</h3>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p class="pad-bottom-40">Based on our research, we identified people's problems and created personas. This quick research process helped us empathize for other people so that we didn't end up creating a product for ourselves. Note that these were only documented later for presentation, but these were the people we designed for.</p>
					</div>
					<div class="col-md-2"></div>
				</div>
				<img src="app/components/recall/img/persona1.jpg" alt="Primary Persona" class="pad-bottom-40">
				<img src="app/components/recall/img/persona2.jpg" alt="Primary Persona">
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>DESIGN</h3>
				</div>
				<div class="row">
					<div class="section-title col-md-12">
						<img class="wireframe" src="app/components/recall/img/wireframes.png" alt="Wireframe">
					</div>
					<div class="section-title col-md-12">
						<img class="wireframe" src="app/components/recall/img/prototypes.png" alt="Prototype">
					</div>
				</div>
				<h4 class="text-center">Apple Watch</h4>
				<div class="row">
				<p class="text-center">The animations were done after the hackathon event. These were made using Principle.</p>
					<div class="col-md-6 text-center">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<video class="video-watch video-ideas" autoplay loop poster="none">
			            <source src="app/components/recall/videos/ideas.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			        </video>
		        </div>
		        <div class="col-md-2"></div>
					</div>
					<div class="col-md-6 text-center">
						<div class="col-md-2"></div>
							<div class="col-md-8">
								<video class="video-watch video-transcribe" autoplay loop poster="none">
				            <source src="app/components/recall/videos/transcribe.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				        </video>
		        </div>
		        <div class="col-md-2"></div>
					</div>
				</div>
				<div class="row">
				<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>The wireframes and prototypes of the screens were shown at the beginning of this page. Here are some Apple Watch prototypes that were created after the hackathon. These operate based on voice commands. </p>
						<img src="app/components/recall/img/watch-screens.jpg" alt="Apple Watch screens">
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
	</section>
	<section class="presentation">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>PRESENTATION</h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>Sonal and Aaron put together a professional presentation to present to the hackathon judges.</p>
					<iframe width="100%" height="400px" src="https://www.youtube.com/embed/MT_3eJLllYo" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-md-2"></div>
		</div>
	</section>
	<section>
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>TAKEAWAYS</h3>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<p class="col-md-8">This was a hackathon event. The main constraints were time and technology feasibility. Some of us had a programming background with which we were able to quickly determine whether some ideas were possible. This is not an industry project so it does lack the constraints that people look for in a portfolio. Nevertheless, there were a few lessons learned.</p>
					<div class="col-md-2"></div>
					<div class="row">
						<ul class="lessons-learned">
							<li class="col-md-4 col-sm-6 gray-box">
								<p>We converged on Material Design while we should have designed for iOS to show hand-off with the Apple Watch.</p>
							</li>
							<li class="col-md-4 col-sm-6 gray-box">
								<p>This was my first project involving Apple Watch. I gained a fair understanding of the Human Interface Guidelines.</p>
							</li>
							<li class="col-md-4 col-sm-6 gray-box">
								<p>Could have done some research before the hackathon to better inform our product design decisions.</p>
							</li>
						</ul>
					</div>
				</div>
	</section>
</div>
