$recall-primary-color: #FFA000;

.page-wrapper.recall {
	margin-top: 50px;
	h3, h4 {
		color: $recall-primary-color;
	}
	
	.gray-box {
		.lnr {
			color: $recall-primary-color;
		}
		p {
			border-left: 4px solid $recall-primary-color;
		}
	}
	.toc .lnr {
      color: $recall-primary-color;
    }
	.hero {
		background: url(#{$recallLoc}/img/recall.jpg) #000 fixed;
		background-size: 100% 120%;
		background-position-y: 100%;
		color: $white;
		  .phone {
			    background: url(#{$recallLoc}/img/recall-phone.png) no-repeat 100% 50%;
			    background-size: 96% auto;
			    background-position: left;
			}
		  h1 {
			  font-size: 72px;
			  font-family: $opensans;
			  margin-top: 80px;
			}
			h2 {
			  font-size: 48px;
			  font-family: $unisans;
			  line-height: 1.5em;
			}
	}
	.product {
		p {
			padding-top: 100px;
			font-size: 2em;
			font-family: $opensans;
			font-weight: bolder;
			color: $recall-primary-color;
		}
	}
	.problem {
		background: url(components/recall/img/recall.jpg) fixed;
		background-size: 100% 120%;
		background-position-y: 0%;
		color: $white;
		padding-bottom: 40px;
		h3 {
			color: $white;
		}
		p {
			font-weight: lighter;
			padding-bottom: 40px;
		}
		h4 {
			font-weight: bolder;
			font-family: $unisans;
			font-size: 1.5em;
			padding-top: 20px;
			color: $recall-primary-color;
		}
		.lnr {
			color: $white;
		}
		.lnr-lg {
			//border: 2px solid $white;
			border-radius: 100px;
			padding: 20px;
		}
		.lnr-holder {
			//padding: 40px;
		}
		.icon-caption {
			font-size: 1.5em;
		}
	}
	
}
@media (max-width: 768px) {
	.page-wrapper.recall {
		.hero {
			h1 {
				font-size: 56px;
    			padding-top: 40px;	
			}
			h2 {
				font-size: 36px;
	   			padding-bottom: 20px;
	   			margin-top: 20px;
			}
		}
	}
}

@media (max-width: 480px) {
	.page-wrapper.recall {
		.hero {
			h1 {
				font-size: 36px;
	    	margin-top: 30px;
			}
			h2 {
				font-size: 18px;
	    	padding-bottom: 20px;
			}
		}
	}
}