
<div class="page-wrapper recall">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Recall</h1>
	          <h2>Never Forget A Conversation</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
					<div>
						<ul class="roles">
						<li class="col-md-2">
								<div class="lnr lnr-puzzle"></div>
								<p>Problem Solving</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-user"></div>
								<p>User Research</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-pencil"></div>
								<p>Wireframing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-laptop-phone"></div>
								<p>Prototyping</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-sync"></div>
								<p>Iterations</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="product">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>INTRODUCTION...</h3>
					<p class="text-big pad-bottom-40">Recall is an application that helps you keep track and make sense of the daily conversations you have</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<video class="video-phone video-home" autoplay loop poster="none">
	            <source src="app/components/recall/videos/home.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
	        </video>
        </div>
				<div class="col-md-8">
					<h2>Save Conversations</h2>
					<p>Recall your conversations any time at your will</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<h2>Store Your Thoughts</h2>
					<p>Save meaningful thoughts, ideas and actionable events </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<video class="video-perspective" autoplay loop poster="none">
	            <source src="app/components/recall/videos/perspective.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
	        </video>
        </div>
			</div>
		</div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="text-center">
			<h3 class="text-center">PROTOTYPES</h3>
			<h4 class="text-center">Material Design</h4>
			</div>
			<div class="row">
				<div class="section-title col-md-6">
					<img class="wireframe" src="app/components/recall/img/wireframes.png" alt="Wireframe">
				</div>
				<div class="section-title col-md-6">
					<img class="wireframe" src="app/components/recall/img/prototypes.png" alt="Prototype">
				</div>
			</div>
			<h4 class="text-center">Apple Watch</h4>
			<div class="row">
				<div class="col-md-6 text-center">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<video class="video-watch video-ideas" autoplay loop poster="none">
		            <source src="app/components/recall/videos/ideas.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
		        </video>
	        </div>
	        <div class="col-md-2"></div>
				</div>
				<div class="col-md-6 text-center">
					<div class="col-md-2"></div>
						<div class="col-md-8">
							<video class="video-watch video-transcribe" autoplay loop poster="none">
			            <source src="app/components/recall/videos/transcribe.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			        </video>
	        </div>
	        <div class="col-md-2"></div>
				</div>
			</div>
			<h4 class="text-center">System Flow</h4>
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<img class="wireframe" src="app/components/recall/img/ux-flow.jpg" alt="UX Flow">
			</div>
			<div class="col-md-2"></div>
		</div>
	</section>
	<section class="problem">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>THE FULL STORY...</h3>
					<p class="text-big">(The design process of how we got there)</p>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h4>CONTEXT</h4>
					<p>Protohack Seattle was conducted in March 2015. Recall was the product I designed along with 4 other designers during the 1-day hackathon. The idea was iterated upon further after the hackathon and conceptualized into smartwatches.</p>
					<h4></h4>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</section>
	<section class="toc">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>MY ROLES</h3>
					<p class="text-gray text-big">(Skip to one of the below sections if you wish)</p>
				</div>
				<ul class="toc-list">
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-cog lnr-lg"></span>
							<p class="icon-caption">The Design Process</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-calendar-full lnr-lg"></span>
							<p class="icon-caption">Planning The Process</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-magnifier lnr-lg"></span>
							<p class="icon-caption">User Research</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-users lnr-lg"></span>
							<p class="icon-caption">Personas</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-pie-chart lnr-lg"></span>
							<p class="icon-caption">Analysis</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-magic-wand lnr-lg"></span>
							<p class="icon-caption">Ideation & Brainstorming</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-pencil lnr-lg"></span>
							<p class="icon-caption">Wireframing</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-checkmark-circle lnr-lg"></span>
							<p class="icon-caption">Usability Testing</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-smartphone lnr-lg"></span>
							<p class="icon-caption">Prototyping</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-code lnr-lg"></span>
							<p class="icon-caption">Front-end Development</p>
						</div>
					</li>
					<li class="col-md-2 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-sync lnr-lg"></span>
							<p class="icon-caption">What I learned</p>
						</div>
					</li>
				</ul>
				
			</div>
		</div>
	</section>
	<section class="my-roles">
		<div class="container">
			<hr>
			<div class="row">
				<div class="section-title">
					<h3>My Roles</h3>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<p></p>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		<div class="row">
			<ul class="questions">
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Is this a real problem and is it worth solving?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How can research inform the design?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>What are competitor strengths and weaknesses?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>What is the contextual relevance?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How to involve potential users in the research?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How can success be measured?</p>
				</li>
			</ul>
		</div>
		</div>
	</section>
	<section class="process">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>THE DESIGN PROCESS...</h3>
					<img src="app/components/hop/img/process.gif">
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Skills involved in this project for wireframing and prototyping were quite rudimentary so I planned the process such that more research and ideation were done upfront to inform the design throughout the process. </p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
	</section>
	<section class="planning">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>PLANNING THE PROCESS...</h3>
					<img src="app/components/hop/img/planning.gif">
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Though the process has been represented linearly above, it wasn't so. There were times when ideation and sketching had to be done in parallel. Usability testing and prototyping overlapped. Ideation continuted throughout the process. Documentation of the process started on day 1 but finalized prior to presentation to stakeholders. </p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
	</section>
	<section class="user-research">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>USER RESEARCH...</h3>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>The project had a low budget and strict timelines. A 30 minute contextual observation was conducted in Safeway Grocery store at University District, Seattle.</p>
					<h4>RESEARCH SUMMARY</h4>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="text-center"><span class="lnr lnr-map-marker lnr-lg"></span>
						<p class="icon-caption">Safeway<br>U District, Seattle</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-center"><span class="lnr lnr-users lnr-lg"></span>
						<p class="icon-caption">50+ <br>People Observed</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-center"><span class="lnr lnr-clock lnr-lg"></span>
						<p class="icon-caption">40+<br>Minutes</p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="research-findings">
					<li class="col-md-4 col-sm-6 gray-box">
						<p>Most buyers were parents and students</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>Students purchased very less while parents bought in bulk quantities</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>People wasted time searching for items </p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>People wasted time thinking what they should buy</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>A friend wasn’t sure if he already had a certain item in his pantry</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>A friend was shy to ask others for directions inside the store</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>PERSONAS...</h3>
				</div>
				<img src="app/components/hop/img/persona1.png">
				<img src="app/components/hop/img/persona2.png">
				<h4>User Stories</h4>
				<blockquote>Hanna: "As a student, I want to quickly purchase an item in order to save time and money"</blockquote>
				<blockquote>Tim: "As a stay-at-home dad, I want to plan and purchase groceries in order to prepare delicious meals for my family"</blockquote>
		</div>
	</section>
	<section class="analysis">
		<div class="container">
			<div class="row">
				<hr>
					<div class="section-title">
						<h3>ANALYSIS...</h3>
					</div>
				<div class="col-md-12">
				<h4>Competitive Analysis</h4>
				<ul class="competitive-analysis">
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis1.jpg">
						<p><strong>Our Grocery</strong></p>
						<h4>Pros:</h4>
						<p>Shopping list, grocery list</p>
						<h4>Cons:</h4>
						<p>Time consuming</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, <strike>Meaningful</strike>, <strike>Efficient</strike>, Unappealing, Freemium model</p>
					</li>
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis2.jpg">
						<p><strong>Grocery IQ</strong></p>
						<h4>Pros:</h4>
						<p>Grocery & shopping list, coupons & store locator</p>
						<h4>Cons:</h4>
						<p>Time consuming</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, Meaningful, <strike>Efficient</strike>, Organized, Intuitive, Freemium model</p>
					</li>
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis3.jpg">
						<p><strong>Any List</strong></p>
						<h4>Pros:</h4>
						<p>Grocery & recipe list</p>
						<h4>Cons:</h4>
						<p>Solves a different problem</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, <strike>Meaningful</strike>, Efficient, Freemium model</p>
					</li>
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis4.jpg">
						<p><strong>Out Of Milk</strong></p>
						<h4>Pros:</h4>
						<p>Grocery & recipe list</p>
						<h4>Cons:</h4>
						<p>Unnecessary features, poor UX</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, <strike>Meaningful</strike>, <strike>Efficient</strike>, Freemium model</p>
					</li>
				</ul>
				</div>
			</div>
			<h4>Business Model</h4>
			<img src="app/components/hop/img/business-model.jpg">
			<h4>Design Considerations</h4>
			<div class="row">
				<ul class="design-considerations">
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Design for context of problem and need</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Address needs of students and parents</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Take users to what they need to find at the store</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Minimize time spent on app and in store</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Enable users to keep track of what they already have in their pantry</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Provide offers based on search history</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Generate shopping list based on recipes</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Connect to an ecosystem of products that people use</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>No more barcode scanners!</p>
				</li>
			</ul>
			</div>
		</div>
	</section>
	<section class="feature-list">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>IDEATION & BRAINSTORMING...</h3>
				</div>
				<h4>Importance vs Achievability</h4>
				<img src="app/components/hop/img/matrix.gif">
				<h4>Feature Maps</h4>
				<img src="app/components/hop/img/feature-map-1.gif">
				<br><br>
				<img src="app/components/hop/img/feature-map-2.gif">
		</div>
	</section>
</div>
