$recall-primary-color: #FFA000;

.page-wrapper.recall {
	margin-top: 50px;
	h3, h4 {
		color: $recall-primary-color;
	}
	.video-phone {
		//min-height: 540px;
		max-height: 94%;
	    max-width: 90%;
	    padding: 13% 4%;
	    background-size: 100%;
	    background-repeat: no-repeat;
	    padding-bottom: 64px;
	}
	.video-watch {
		background-image: url(#{$recallLoc}/img/ideas.png);
	}
	.video-home {
		background-image: url(#{$recallLoc}/img/home.png);
	}
	.video-filter {
		background-image: url(#{$recallLoc}/img/filter.png);
	}
	.video-actionable {
		background-image: url(#{$recallLoc}/img/actionable.png);
	}
	.video-ideas {
		background-image: url(#{$recallLoc}/img/ideas.png);
	}
	.video-transcribe {
		background-image: url(#{$recallLoc}/img/ideas.png);
	}
	.video-perspective {
		background-color: #FFFFFF;
		background-size: 100%; 
		background-image: url(#{$recallLoc}/img/perspective.jpg);
		background-repeat: no-repeat;
		max-width: 100%;
		min-height: 200px;
	}
	.toc-list .lnr {
		color: $recall-primary-color;
	}
	.gray-box {
		.lnr {
			color: $recall-primary-color;
		}
		p {
			border-left: 4px solid $recall-primary-color;
		}
	}
	.toc .lnr {
      color: $recall-primary-color;
    }
	.hero {
		background: url(#{$recallLoc}/img/recall.jpg) #000 fixed;
		background-size: 100% 120%;
		background-position-y: 100%;
		color: $white;
		.roles {
				li {
					text-align: center;
				}
				.lnr {
					font-size: 1.5em;
					color: $white;
					font-size: 1.2em;
					padding-bottom: 0;
				}
				p {
					line-height: 1.4;
					padding-top: 4px;
				}
			}
		  .phone {
			    background: url(#{$recallLoc}/img/recall-phone.png) no-repeat 100% 50%;
			    background-size: 96% auto;
			    background-position: left;
			}
		  h1 {
			  font-size: 72px;
			  font-family: $paragraph;
			  margin-top: 80px;
			}
			h2 {
			  font-size: 48px;
			  font-family: $paragraph;
			  line-height: 1.5em;
			}
	}
	.product {
		h2 {
			padding-top: 100px;
			font-size: 2em;
			font-family: $paragraph;
			font-weight: bolder;
			color: $recall-primary-color;
		}

	}
	.wireframes {
		.wireframe {
			padding-bottom: 60px;
		}
	}
	.problem {
		
		padding-bottom: 40px;
		p {
			font-weight: lighter;
			padding-bottom: 40px;
		}
		h4 {
			font-family: $unisans;
			font-size: 1.5em;
			padding-top: 20px;
			color: $recall-primary-color;
		}
		.team {
			font-weight: lighter;
		}
		.lnr-lg {
			//border: 2px solid $white;
			border-radius: 100px;
			padding: 20px;
		}
		.lnr-holder {
			//padding: 40px;
		}
		
	}
	
}
@media (max-width: 768px) {
	.page-wrapper.recall {
		.hero {
			h1 {
				font-size: 56px;
    			padding-top: 40px;	
			}
			h2 {
				font-size: 36px;
	   			padding-bottom: 20px;
	   			margin-top: 20px;
			}
		}
	}
}

@media (max-width: 480px) {
	.page-wrapper.recall {
		.hero {
			h1 {
				font-size: 36px;
	    	margin-top: 30px;
			}
			h2 {
				font-size: 18px;
	    	padding-bottom: 20px;
			}
		}
		.product h2 {
			font-size: 1em;
			padding-top: 20px;
		}
	}
}