<header id="top" class="state2 header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <a class="logo col-md-1 col-sm-1 col-xs-1" href="#/"></a>
          <nav>
            <ul class="nav menu">
              <li ng-class="{active:isActive('/')}"><a  href="#/portfolio">Portfolio</a></li>
              <li ng-class="{active:isActive('/about')}"><a href="#/about">About</a></li>
              <li ng-class="{active:isActive('/resume')}"><a href="assets/files/Aravind_Ravi_Resume.pdf" target="_blank">Resume</a></li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</header>