<header id="top" class="state2 header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <a href="#/"><h1 class="name"></h1></a>
          <nav>
            <ul class="nav menu">
              <li ng-class="{active:isActive('/')}"><a href="#/">Home</a></li>
              <li ng-class="{active:isActive('/portfolio')}"><a  href="#/portfolio">Portfolio</a></li>
              <!-- <li ng-class="{active:isActive('/blog')}"><a  href="https://medium.com/@aravindravi" target="_blank">Blog</a></li> -->
              <li ng-class="{active:isActive('/resume')}"><a href="assets/files/Aravind_Ravi_CV.pdf" target="_blank">Resume</a></li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</header>