
<div class="page-wrapper crm">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>CRM</h1>
	          <h2>Responsive Web Design of a CRM</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
				<div class="row">
					<div>
						<ul class="roles">
							<li class="col-md-2">
								<div class="lnr lnr-puzzle"></div>
								<p>Problem Solving</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-user"></div>
								<p>User Research</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-pencil"></div>
								<p>Wireframing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-clipboard-check"></div>
								<p>Usability Testing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-laptop-phone"></div>
								<p>Prototyping</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="product">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>NON-DISCLOSURE AGREEMENT</h3>
				</div>
					<div class="col-md-2"></div>
					<div class="col-md-8"><p>This is a project under NDA. Portions of the research and design process have not been discussed here. Call me for an interview and I will talk about the non-confidential details, which have been intentionally left out to protect the confidentiality of the client.</p>
					<p class="pad-bottom-40">Portions of the assets created in this project have been...</p></div>
					<div class="col-md-2"></div>
			</div>
			<div class="row">	
				<div class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><img src="app/main/assets/img/masked.jpg" alt="Masked"></div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><img src="app/main/assets/img/ipsumed.jpg" alt="Masked"></div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><img src="app/main/assets/img/blurred.jpg" alt="Masked"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="intro">
		<div class="container">
			<hr>
			<div class="row">
				<div class="section-title">
					<h3>INTRODUCTION</h3>
				</div>
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p class="pad-bottom-40">This is a project I worked on for a company in the finance domain. This was one of the most interesting projects in my career as the project was filled with complexities and uncertainties.</p>
					</div>
					<div class="col-md-2"></div>
			</div>
			<h4 class="text-center">PROBLEMS SOLVED</h4>
			<ul class="row intro-snippets">	
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-laptop-phone lnr-lg"></span></div>
					<p class="icon-caption">Technology Adoption</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-users2 lnr-lg"></span></div>
					<p class="icon-caption">Customer Retention</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-sync lnr-lg"></span></div>
					<p class="icon-caption">Process Improvements</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-group-work lnr-lg"></span></div>
					<p class="icon-caption">Workflow Automation</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-clipboard-pencil lnr-lg"></span></div>
					<p class="icon-caption">Paperwork reduction</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-chart-settings lnr-lg"></span></div>
					<p class="icon-caption">Data Analytics & Reports</p>
				</li>
			</ul>
			<h4 class="text-center">PROCESS SUMMARY</h4>
		</div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>WIREFRAMES</h3>
			</div>
			<div class="col-md-6">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard2.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/activity-feed.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard1.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/profile.jpg">
			</div>
			<div class="col-md-6">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/client-info.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/emp-details.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard3.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/meeting-summary.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/emp-details.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/file-process.jpg">
			</div>
		</div>
	</section>
	<section class="prototypes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>PROTOTYPES</h3>
			</div>
			<h4 class="text-center">RESPONSIVE WEB DESIGN</h4>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/crm-display.png">
				</div>
				<div class="col-md-2"></div>
			</div>
			<h4 class="text-center">MOBILE SCREENS</h4>
			<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/mobile.jpg">
			<h4 class="text-center">DESKTOP SCREENS</h4>
			<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/monitors.jpg">
		</div>
	</section>
	<section class="prototypes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>THE DESIGN PROCESS</h3>
				<p class="text-big">INSERT GRAPHIC HERE</p>
			</div>
		</div>
	</section>
	<section class="user-research">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>USER RESEARCH</h3>
				<div class="row">
					<p class="col-md-8 col-md-offset-2">This project proved to be a good example of why design should be a research-driven process. About 70% of the effort was spent on research which led to numerous interesting findings.</p>
				</div>
				<h4>RESEARCH METHODS</h4>
				<ul class="row">
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-users2 lnr-lg"></span></div>
						<p class="icon-caption">Interviews</p>
						<p>We conducted interviews with 11 participants. There were multiple rounds of interviews that helped uncover some of the problems faced by the clients. Details cannot be disclosed due to NDA. These interviews helped to gain an indepth understanding of the processes that the clients were following.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-bubble-question lnr-lg"></span></div>
						<p class="icon-caption">Survey</p>
						<p>We sent out surveys to select people to better understand their problems in the domain we were working on. This was a qualitative survey over a quantitative one with a small sample size. Questions were structured to get more qualitative information to keep it a more exploratory process. It helped discover the problems faced by these people in certain areas that were exploring.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-binoculars2 lnr-lg"></span></div>
						<p class="icon-caption">Competitive Analysis</p>
						<p>Our team also conducted competitive analysis on products that existed in the market. This was a key strategy in our process as it unearthed several key insights in the domain and take the right product decisions. This also helped us make decisions on certain features of the product.</p>
					</li>
				</ul>
				<div class="row">
					<h4>RESEARCH SUMMARY</h4>
					<p class="col-md-8 col-md-offset-2">Our process proved successful in that we were able to validate our assumptions and pivot in the right direction when required. Details cannot be disclosed. </p>
				</div>
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>ANALYSIS</h3>
				<ul class="row">
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-site-map lnr-lg"></span></div>
						<p class="icon-caption">Process Modeling</p>
						<p>From the interview data, it was clear that the process followed by the client were too complex to handle at a conceptual level. We modelled it and highlighted key areas that could be automated. This also helped converge on more specific problems.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-papers lnr-lg"></span></div>
						<p class="icon-caption">Affinity Maps</p>
						<p>Our clients spoke about problems, needs, processes and wishlists. The wishlists were not often around their processes, but around how they could improve their business. These had to carefully categorized and having affinity maps were helpful not just for the design team, but also the clients to have a better picture of their processes.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-archery lnr-lg"></span></div>
						<p class="icon-caption">Strategy</p>
						<p>We explored possibilities of tying into some of the existing products for the clients. We also explored any existing tools they were using for their processes to see if we could integrate with them, or design a product that would be similar to what they were used to - a decision made with the help of Personas.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>PERSONAS</h3>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/process/personas.jpg">
			</div>
		</div>
	</section>

</div>
