<div class="page-wrapper crm">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>CRM</h1>
	          <h2>Responsive Web Design of a CRM</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
				<div class="row">
					<div>
						<ul class="roles">
							<li class="col-md-2">
								<div class="lnr lnr-puzzle"></div>
								<p>Problem Solving</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-user"></div>
								<p>User Research</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-pencil"></div>
								<p>Wireframing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-clipboard-check"></div>
								<p>Usability Testing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-laptop-phone"></div>
								<p>Prototyping</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="product">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>NON-DISCLOSURE AGREEMENT</h3>
				</div>
					<div class="col-md-2"></div>
					<div class="col-md-8"><p>This is a project under NDA. Portions of the research and design process have not been discussed here. Call me for an interview and I will talk about the non-confidential details, which have been intentionally left out to protect the confidentiality of the client.</p>
					<p class="pad-bottom-40">Portions of the assets created in this project have been...</p></div>
					<div class="col-md-2"></div>
			</div>
			<div class="row">	
				<div class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><img src="app/main/assets/img/masked.jpg" alt="Masked"></div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><img src="app/main/assets/img/ipsumed.jpg" alt="Masked"></div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><img src="app/main/assets/img/blurred.jpg" alt="Masked"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="intro">
		<div class="container">
			<hr>
			<div class="row">
				<div class="section-title">
					<h3>INTRODUCTION</h3>
				</div>
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p class="pad-bottom-40">This is a project I worked on for a company in the finance domain. This was one of the most interesting projects in my career as the project was filled with complexities and uncertainties.</p>
						<h4 class="text-center">PROBLEMS SOLVED</h4>
					</div>
					<div class="col-md-2"></div>
			</div>
			<ul class="row intro-snippets">	
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-laptop-phone lnr-lg"></span></div>
					<p class="icon-caption">Technology Adoption</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-users2 lnr-lg"></span></div>
					<p class="icon-caption">Customer Retention</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-sync lnr-lg"></span></div>
					<p class="icon-caption">Process Improvements</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-group-work lnr-lg"></span></div>
					<p class="icon-caption">Workflow Automation</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-clipboard-pencil lnr-lg"></span></div>
					<p class="icon-caption">Paperwork reduction</p>
				</li>
				<li class="col-md-4 col-sm-4 text-center">
					<div class="lnr-holder"><span class="lnr lnr-chart-settings lnr-lg"></span></div>
					<p class="icon-caption">Data Analytics & Reports</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>WIREFRAMES</h3>
			</div>
			<div class="col-md-6">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard2.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/activity-feed.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard1.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/profile.jpg">
			</div>
			<div class="col-md-6">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/client-info.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/emp-details.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard3.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/meeting-summary.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/emp-details.jpg">
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/file-process.jpg">
			</div>
		</div>
	</section>
	<section class="prototypes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>PROTOTYPES</h3>
			</div>
			<h4 class="text-center">RESPONSIVE WEB DESIGN</h4>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/crm-display.png">
				</div>
				<div class="col-md-2"></div>
			</div>
			<h4 class="text-center">MOBILE SCREENS</h4>
			<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/mobile.jpg">
			<h4 class="text-center">DESKTOP SCREENS</h4>
			<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/monitors.jpg">
		</div>
	</section>
	<section class="prototypes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>THE DESIGN PROCESS</h3>
				<p class="text-big">To protect the confidentiality of the client, this section is intentionally not disclosed. Call me for an interview and I can discuss some non-confidential information.</p>
			</div>
		</div>
	</section>
	<section class="user-research">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>USER RESEARCH</h3>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/process/personas.jpg">
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>PERSONAS</h3>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/process/personas.jpg">
			</div>
		</div>
	</section>

</div>
