<div class="page-wrapper crm">
	<section class="hero">
		<div class="container">
			<main>
				<hgroup class="text-center">
          <h1>Customer Resource Management</h1>	
        </hgroup>
        <div>
        	<img class="pad-bottom-40" src="app/components/crm/img/prototypes/crm-display.png">
        </div>
      </main>
    </div>
    <div class="project-summary pad-top-40">
      <div class="container">
      	<div class="row">
        	<div class="col-md-6">
          	<h4 class="col-md-12 col-sm-12 col-xs-12">CONTEXT</h4>
          	<p>I led this design project as an intern for Fresh Consulting during Summer 2015. We worked on helping one of our clients digitize their business.</p>
					</div>
					<div class="col-md-6">
						<h4 class="col-md-12 col-sm-12 col-xs-12">TEAM</h4>
						<p>Jeff Dance (CEO), Richard Rose (CFO), Teage Christensen (PM) and myself (UX Designer)</p>
	    		</div>
    		</div>
    		<div class="row pad-top-20">
	    		<div class="col-md-6">
	    			<h4 class="col-md-12 col-sm-12 col-xs-12">MY ROLES</h4>
						<ul class="roles text-center">
							<li class="col-md-4 col-sm-4 col-xs-4">
								<div class="lnr lnr-user"></div>
								<p>User Research</p>
							</li>
							<li class="col-md-4 col-sm-4 col-xs-4">
								<div class="lnr lnr-finger-tap2"></div>
								<p>Interaction Design</p>
							</li>
							<li class="col-md-4 col-sm-4 col-xs-4">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
						</ul>
	    		</div>
	    		<div class="col-md-6">
						<h4 class="col-md-12 col-sm-12 col-xs-12">NDA</h4>
							<p class="pad-bottom-40 col-md-12 col-sm-12 col-xs-12">This project is under NDA. Portions of the created assets have been masked and blurred out.</p>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section>
		<div class="container">
			<div class="row">	
				<h3>DESIGN PROBLEM</h3>
				<div class="col-md-12 pad-bottom-20">
					<p>Creating a digital platform for our client to drive their business to address the following challenges and opportunities</p>
				</div>
				<div class="col-md-12">
				<ul class="intro-snippets">	
					<li class="col-md-3 col-sm-6 pad-bottom-20">
						<div class="lnr-holder"><span class="lnr lnr-users2 lnr-lg"></span></div>
						<p class="icon-caption">Customer Retention & Engagement</p>
					</li>
					<li class="col-md-3 col-sm-6 pad-bottom-20">
						<div class="lnr-holder"><span class="lnr lnr-group-work lnr-lg"></span></div>
						<p class="icon-caption">Workflow Automation & Process Transparency</p>
					</li>
					<li class="col-md-3 col-sm-6 pad-bottom-20">
						<div class="lnr-holder"><span class="lnr lnr-sync lnr-lg"></span></div>
						<p class="icon-caption">Team Collaboration & Process Improvements</p>
					</li>
					<li class="col-md-3 col-sm-6 pad-bottom-20">
						<div class="lnr-holder"><span class="lnr lnr-layers lnr-lg"></span></div>
						<p class="icon-caption">Eliminating Technology Fragmentation</p>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="design-process" id="process">
		<div class="container">
			<div class="row">	
				<hr>
				<h3>THE PROCESS</h3>	
				<img class="col-md-12" src="app/components/crm/img/process/process.png">
				<div class="text-center col-md-12 pad-top-40 pad-bottom-40">
					<div class="col-md-3">
						<a class="" href="#/portfolio/crm#research" target="_self">SKIP TO RESEARCH</a>
					</div>
					<div class="col-md-6">
						<a class="" href="#/portfolio/crm#analysis" target="_self">SKIP TO ANALYSIS</a>
					</div>
					<div class="col-md-3">
						<a class="" href="#/portfolio/crm#design" target="_self">SKIP TO DESIGN</a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	</section>
	<section class="user-research" id="research">
		<div class="container">
				<div class="row">
				<hr>
				<h3>RESEARCH SUMMARY</h3>
					<p class="col-md-8">This project proved to be a good example of why design should be a research-driven process. We extended our research more than we had initially planned to tackle complex and uncertain problems.</p>
				</div>
				<ul class="row pad-top-40">
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-users2 lnr-lg"></span></div>
						<p class="icon-caption">Interviews</p>
						<p>We conducted 11 interviews that gave deeper insights into our client's business and processes, as well as the problems faced by their customers.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-bubble-question lnr-lg"></span></div>
						<p class="icon-caption">Survey</p>
						<p>We sent out survey to our client's customers to gain insights into their needs and burning problems, as a secondary research tool.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-binoculars2 lnr-lg"></span></div>
						<p class="icon-caption">Competitive Analysis</p>
						<p>We conducted competitive analysis on products that existed in the market to explore the possibility of potential integration. </p>
					</li>
				</ul>
		</div>
	</section>
	<section class="analysis" id="analysis">
		<div class="container">
			<div class="row">
				<hr>
				<h3>KEY FINDINGS</h3>
					<div class="col-md-4 gray-box">
						<p>What the clients said they wanted was different from what they needed</p>
					</div>
					<div class="col-md-4 gray-box">
						<p>Unearthed unforeseen problems as our clients walked us through their processes</p>
					</div>
					<div class="col-md-4 gray-box">
						<p>Identified key problems with existing processes and manual effort associated with them</p>
					</div>
					<div class="col-md-4 gray-box">
						<p>It was possible to achieve a portion of their business requirements using an existing product</p>
					</div>
					<div class="col-md-4 gray-box">
						<p>The client was using a number of different tools that needed to be replaced with the new application</p>
					</div>
					<div class="col-md-4 gray-box">
						<p>The budget and project planning that we had done had to be modified</p>
					</div>
				</ul>
			</div>
		</div>
	</section>
	<section class="analysis" id="analysis">
		<div class="container">
			<div class="row">
				<hr>
				<h3>ANALYSIS</h3>
			</div>
				<ul class="row">
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-site-map lnr-lg"></span></div>
						<p class="icon-caption">Process Modeling</p>
						<img src="app/components/crm/img/process/process-model.png">
						<p class="gray-box">From the interview data, it was clear that the process followed by the client were too complex to handle at a conceptual level. We modeled it and highlighted key areas that could be automated. This also helped converge on more specific problems and communicate our ideas to the clients.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-papers lnr-lg"></span></div>
						<p class="icon-caption">Affinity Maps</p>
						<img src="app/components/crm/img/process/affinity-map.png">
						<p class="gray-box">Our clients spoke about problems, needs, processes and wishlists. The wishlists were not often around what they had initially asked for, or what we had budgeted them for. These had to be carefully categorized and having affinity maps were helpful not just for the design team, but also the clients to have a better picture of their processes.</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-archery lnr-lg"></span></div>
						<p class="icon-caption">Strategy</p>
						<img src="app/components/crm/img/process/strategy.png">
						<p class="gray-box">We explored possibilities of tying into some of the existing products for the clients. We also explored any existing tools they were using for their processes to see if we could integrate with them, or design a product that would be similar to what they were used to - a decision made with the help of Personas.</p>
					</li>
				</ul>
		</div>
	</section>	
	<section class="personas">
		<div class="container">
			
			<div class="row">
			<hr>
				<h3>PERSONAS</h3>
				<p class="col-md-4">Our personas paved the way for an empathy driven design process. That's not in saying that documenting a persona leads to empathy, but a thoughtful and thorough research process prior to that helped gain a good understanding of the people we were designing for. This helped craft the personas in such a manner that they were instrumental in driving the decision making in the rest of the process.
				</p>
				<img class="col-md-8" src="app/components/crm/img/process/personas.jpg">
			</div>
		</div>
	</section>
	<section class="sketches" id="design">
		<div class="container">
			<div class="row">
			<hr>
				<h3>SKETCHES</h3>
				<p class="col-md-8">By the time we finished our research, we were way ahead of our budget and behind timelines. I had very little time remaining but at the same time come up with quality wireframes and prototypes as deliverables for this phase.
				</p>
			</div>
			<div class="row">
				<img class="col-md-12" src="app/components/crm/img/process/sketches.jpg">
			</div>
			<div class="row">
				<div class="col-md-4">
					<h4 class="text-center">STEP 1: Concept Sketching</h4>
					<p>Once we had laid out the functional and non-functional requirements, I laid out some concepts with some sketches that covered some of the key features. These were around business strategies for the clients over the actual user interface, such as features, analytics and reports.</p>
				</div>
				<div class="col-md-4">
					<h4 class="text-center">STEP 2: UI Flow</h4>
					<p>I created some high level concepts for the user interface and rough sitemaps on the flow of screens. This was a rapid process as I could not afford to iterate much on the wireframes which was the next step. It was worth exploring quite a bit with sketches, a valuable tool indeed.</p>
				</div>
				<div class="col-md-4">
					<h4 class="text-center">STEP 3: Mobile-First</h4>
					<p>My sketches first covered the mobile viewport. This was to not just ensure that the responsive designs were feasible, but also in making sure that the experience was consistent and intuitive across platforms. Some of the users had to access this application out on the field and it was crucial to nail this down.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="row">
				<h3>WIREFRAMES</h3>
			</div>
			<div class="row">
			<div class="col-md-6">
				<h4>ADVISOR DASHBOARD</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard1.jpg">
				<h4>ADVISOR PROFILE</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/profile.jpg">
				<h4>ACTIVITY FEED</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/activity-feed.jpg">
			</div>
			<div class="col-md-6">
				<h4>HR DASHBOARD</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard2.jpg">
				<h4>EMPLOYEE DASHBOARD</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/dashboard3.jpg">
				<h4>CLIENT INFORMATION</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/client-info.jpg">
				<h4>WORKFLOW MANAGEMENT</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/wireframes/file-process.jpg">
			</div>
			</div>
		</div>
	</section>
	<section class="prototypes">
		<div class="container">
			<hr>	
			<div class="row">
				<h3>PROTOTYPES</h3>
				<p class="col-md-8">Prototypes were created using Photoshop and InVision. Branding has been modified to protect the confidentiality of the client.</p>
			</div>
			<h4>MOBILE SCREENS</h4>
			<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/mobile.jpg">
			<h4>DESKTOP SCREENS</h4>
			<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/monitors.jpg">
			<div class="row">
			<div class="col-md-6">
				<h4>ADVISOR DASHBOARD</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/dashboard2.jpg"> 
				<h4>EMPLOYEE DASHBOARD</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/dashboard3.jpg"></div>
			<div class="col-md-6">
				<h4>CLIENT INFORMATION</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/client-info.jpg"> 
				<h4>WORKFLOW MANAGEMENT</h4>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/prototypes/workflow.jpg">
			</div>	
		</div>
	</section>
	<section class="constraints">
		<div class="container">
			<hr>
			<div>
				<h3>CONSTRAINTS & CHALLENGES</h3>
				<ul>
					<li class="col-md-4 gray-box">
						<p>Limited budget</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Stringent timelines</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>API Limitations</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Implementation budget</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Target Users</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Data Availability</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Existing Technology</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Third Party tools</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="outcome">
		<div class="container">
			
			<div class="row">
				<hr>
				<h3>IMPACT / OUTCOME</h3>
				<ul class="outcome">
					<li class="col-md-4 pad-bottom-20">
						<span class="lnr lnr-check lnr-md col-md-2"></span>
						<p class="col-md-10">The solution opened up new business channels for our client</p>
					</li>
					<li class="col-md-4 pad-bottom-20">
						<span class="lnr lnr-check lnr-md col-md-2"></span>
						<p class="col-md-10">The solution promises to drastically reduce manual labor</p>
					</li>
					<li class="col-md-4 pad-bottom-20">
						<span class="lnr lnr-check lnr-md col-md-2"></span>
						<p class="col-md-10">Our design process was well received and highly appreciated</p>
					</li>
					<li class="col-md-4">
						<span class="lnr lnr-check lnr-md col-md-2"></span>
						<p class="col-md-10">I was able to get people in my organization to better understand the importance of research in a design process</p>
					</li>
					<li class="col-md-4">
						<span class="lnr lnr-check lnr-md col-md-2"></span>
						<p class="col-md-10">This was the first of many projects in our partnership with this client and we got off to a good start with projects in the pipeline</p>
					</li>
					<li class="col-md-4">
						<span class="lnr lnr-check lnr-md col-md-2"></span>
						<p class="col-md-10">I was able to demonstrate to our team how research-led design can influence the outcome of a process</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="details">
		<div class="container">
			<div class="row">
				<hr>
				<h3>LESSONS LEARNED</h3>	
				<div class="col-md-4">
						<p>I learned to talk in terms of business problems and how certain design or solution would help solve them</p>
				</div>
				<div class="col-md-4">
						<p>Axure instead of Balsamiq would have helped in communicating the interactions more effectively</p>
				</div>
				<div class="col-md-4">
						<p>Forty more hours of research would have helped make better decisions on long term business strategy</p>
				</div>
			</div>
		</div>
	</section>
	<section class="details">
		<div class="container">
			<div class="row">
				<hr>
				<h3>FURTHER DETAILS</h3>	
				<p class="col-md-8">This project is currently in development phase. I can share some interesting stories about the design process in this project if you decide to interview me for a job. Some parts have been intentionally left out to protect confidentiality of the client.</p>
			</div>
		</div>
	</section>
</div>
