.page-wrapper.main {
	.hero {
		background: #FDFBFB;
		background: -webkit-linear-gradient(left top, #FDFBFB, #EBEDEE); 
	    background: -o-linear-gradient(bottom right, #FDFBFB, #EBEDEE); 
	    background: -moz-linear-gradient(bottom right, #FDFBFB, #EBEDEE);
	    background: linear-gradient(to bottom right, #EBEDEE, #EBEDEE); 
	    height: 574px;
	    border-bottom: 1px solid #D8D8D8;
	}
	.intro-section {
		background: #FFFFFF;
		border-radius: 4px;
		-webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.1);
		box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.1);
		width: 70%;
		height: 350px;
		margin: auto;
		margin-top: 120px;
		position: absolute;
	    right: 220px;
	    z-index: 1;
	    padding: 40px 80px;
	}
	.profile-pic {
		width: 250px;
		position: absolute;
		top: 80px;
    	right: 100px;
	    top: 80px;
	    z-index: 2;
	    -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.25));
	    filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.25));
	    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='rgba(0,0,0,0.25)')";
	    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='rgba(0,0,0,0.25)')";
	}
	h1 {
		font-size: 2.125em;
		font-weight: bold;
	}
	h2 {
		font-family: $paragraph;
		font-weight: 100;
		font-size: 1.25em;
		line-height: 1.6;
		padding-top: 20px;
		width: 60%;
	}
	
	.social  {
	    padding-top: 40px;
	    margin-left: -4px;
	}
	.social > ul > li {
	    display: inline-block;
	    padding-right: 28px;

	    //min-height: 48px;
	}
	.social a {
		color: #333;
		padding: 4px;
		font-size: 20px;
		&:hover {
			text-decoration: none;
			border-bottom: 2px solid #000;
		}
	}
	.recent-work {
		h3 {
			padding-bottom: 40px;
		}
		.cover-img {
			-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.25);
			box-shadow: 0 0 12px rgba(0,0,0,0.25);
			-moz-box-shadow: 0 0 12px rgba(0,0,0,0.25);
		}
	}
}
@media (max-width: 480px) {
	.page-wrapper.main {
		
	}
}
@media (min-width: 1366px) {
  
}	