.page-wrapper.main {
	h1 {
		font-size: 3.5em;
		font-family: "Unisans", "Open sans";
		color: $white;
		.highlight {
			color: $primary-color;
		}
	}
	h2 {
		color: $black;
		font-family: $paragraph;
		font-weight: 100;
		font-size: 1.5em;
		line-height: 1.6;
		.highlight {
			color: $primary-color;
		}
	}
	.white-btn {
		margin-bottom: 0;
	}
	.title {
		margin-top: 160px;
	}
	
	.intro-snippets {
		margin-top: 120px;
		.lnr {
			color: $white;
			padding-bottom: 10px;
			font-size: 1.5em;
		}
	}
	.hero {
		padding-top: 80px;
	}
	.view-portfolio {
		margin-top: 60px;
	}
	.description {
		color: #FFF;
		font-size: 1em;
		
	}
	.homepage-hero-module {
	    border-right: none;
	    border-left: none;
	    position: relative;
	}
	.no-video .video-container video,
	.touch .video-container video {
	    display: none;
	}
	.no-video .video-container .poster,
	.touch .video-container .poster {
	    display: block !important;
	}
	.video-container {
	    position: relative;
	    bottom: 0%;
	    left: 0%;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    background: #000;
	}
	.video-container .poster img {
	    width: 100%;
	    bottom: 0;
	    position: absolute;
	}
	.video-container .filter {
	    z-index: 100;
	    position: absolute;
	    background: rgba(0, 0, 0, 0.4);
	    width: 100%;
	}
	.video-container video {
	    position: absolute;
	    z-index: 0;
	    bottom: 0;
	    object-fit: cover;
	}
	.video-container video.fillWidth {
	    width: 100%;
	}
	.what-i-do {
		.lnr {
			font-size: 1.5em;
			color: $primary-color;
		}
		h4 {
			padding: 0;
			font-family: $paragraph;
			font-weight: lighter;
		}
	}
	.highlight {
			color: $white;
			font-weight: 400;
		}
	.social  {
	    padding-top: 20px;
	}
	.social > ul > li {
	    display: inline-block;
	    padding: 10px 8px;
	    //min-height: 48px;
	}
	.social a {
		color: $dark-gray;
		&:hover {
			color: $primary-color;
		}
	}

}
@media (max-width: 480px) {
	.page-wrapper.main {
		h1 {
			font-size: 2em;		
		}
		.title {
		margin-top: 100px;
	}
}
@media (min-width: 1366px) {
  .page-wrapper.main {
    .title {
      margin-top: 200px;
    }
    .description {
      margin-top: 40px;
    }
    .view-portfolio {
      margin-top: 160px !important;
    }
  }
}	

}
