<div class="page-wrapper visualization">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Data Visualization</h1>
	          <h2>Making sense of world indicators</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
					<div class="text-center col-md-12">
						<ul class="roles">
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-puzzle"></div>
								<p>Ideation</p>
							</li>
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-finger-tap2"></div>
								<p>Interaction Design</p>
							</li>
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-magic-wand"></div>
								<p>Animation</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="">
		<div class="container">
			<div class="row text-center">
				<p class="question">What was the Infant Mortality Rate across the world in the year 2012?</p>
				<img src="app/components/visualization/img/infant-mortality-map.jpg" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">This field map view provides a good overview to locate which part of the world that is challenged with high infant mortality rate. With this visualization, organization such as World Health Organization (WHO) could potentially decide to focus their strategy to help the Africa region.This map visualization however does not provide easy comparison of the rates across the different countries. With the help of bar graph view (available on the next page) in which the infant mortality rate is sorted from highest to lowest, it shows that Sierra Leone has the highest infant mortality rate in 2012.</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">What was the change in Infant Mortality Rate in different continents between 2000 - 2012?</p>
				<img src="app/components/visualization/img/infant-mortality.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">This field map view provides a good overview to locate which part of the world that is challenged with high infant mortality rate. With this visualization, organization such as World Health Organization (WHO) could potentially decide to focus their strategy to help the Africa region.This map visualization however does not provide easy comparison of the rates across the different countries. With the help of bar graph view (available on the next page) in which the infant mortality rate is sorted from highest to lowest, it shows that Sierra Leone has the highest infant mortality rate in 2012.</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">Which continent used internet the least in the year 2012?</p>
				<img src="app/components/visualization/img/internet-2012.jpg" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">The field map shows that Africa region has the most concentration of countries that uses internet the least in 2012.</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">How do African countries compare rank in mobile phone usage in 2012?</p>
				<img src="app/components/visualization/img/internet-mobile-usage.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">Interestingly, Botswana which is one of the most developed countries in South Africa has very low internet usage. We wanted to verify if the data had any null values so we tried to visualize Botswana’s internet usage in those 10 years. To our surprise the internet usage was dramatically low. Botswana supposedly has some of the most advanced healthcare treatment facilities but such low internet usage. 
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">How has GDP and Infant Mortality varied in the US between 2000 - 2012</p>
				<img src="app/components/visualization/img/gdp-mortality.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">This dual graphs show that there might be a correlation between GDP and Infant Mortality Rate. The US GDP has been increasing from 2000 to 2008, while the Infant Mortality Rate remains constant. One of the potential explanation could be that the US economic at that time period was able to sustain a certain level of health care provision. There was a decrease in the Infant Mortality Rate between 2008 and 2009. That period of time also show the GDP starting to increase again. If we look at the intersection of the two lines, the changes happen almost around the year 2009. We can cross-refer that timeline to the US history, and find that President Barack Obama’s first inauguration was on January 2009. The healthcare and economic reformation could be the contributing factors to the change seen on this graph.
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">How does life expectancy of Females and Males compare across different countries between 2000 and 2012</p>
				<img src="app/components/visualization/img/life-expectancy.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">The use of side by side bars usually gives an easy comparison. However on this particular case, the data set is too many to compare all the countries’ data side side. It created too many side by side bars which can be confusing to look at across so many columns.
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">How has the usage of internet progressed in all countries in between 2000 - 2012?</p>
				<img src="app/components/visualization/img/internet-mobile-usage.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">Interestingly, internet usage did decrease at different time periods in some countries (Australia from 2001 to 2002 in the above screenshot)
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">Does internet usage influence outbound tourism?</p>
				<img src="app/components/visualization/img/internet-tourism.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">From this visualization, it could be said that there may be some influence of internet on outbound tourism. However the use of treemap visualization for this case is not effective as it shows the sum from each country but doesn’t provide an easy and obvious relation.
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">How do Inbound and Outbound tourism compare with each other in different countries in 2012?</p>
				<img src="app/components/visualization/img/inbound-outbound.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">From this visualization, it could be said that there may be some influence of internet on outbound tourism. However the use of treemap visualization for this case is not effective as it shows the sum from each country but doesn’t provide an easy and obvious relation.
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">What are the top 10 countries with highest Inbound Tourism?</p>
				<img src="app/components/visualization/img/top10-gdp.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">It was interesting to see this list dominated by European countries. However it is pretty difficult to rank the medium and smaller circles through this type of visualization as it gets tricky to visually compare their sizes.
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">Which countries have maximum combined energy usage in the 10 years?</p>
				<img src="app/components/visualization/img/energy-usage.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">This bar graph view gives a very easy overview on who use the most energy in the world. United States and China stand out so much from the other countries. This huge difference between them and other countries have made the data from other countries to appear insignificant on the graph and hard to compare. We suggest that if the visualization is needed to understand other countries’ energy usage, it will be better to filter out data from United States and China to increase the scale of the visuals.
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">Are the CO2 emissions proportional to the energy usage in these countries?</p>
				<img src="app/components/visualization/img/energy-co2.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">This bar graph view gives a very easy overview on who use the most energy in the world. United States and China stand out so much from the other countries. This huge difference between them and other countries have made the data from other countries to appear insignificant on the graph and hard to compare. We suggest that if the visualization is needed to understand other countries’ energy usage, it will be better to filter out data from United States and China to increase the scale of the visuals.
				</p>
			</div>
			<div class="row text-center">
				<hr>
				<p class="question">How does “Days to start business” compare with “Ease of business”?</p>
				<img src="app/components/visualization/img/business-ease.png" alt="Visualization">
				<p class="col-md-8 col-md-offset-2 text-small">There was a very surprising outlier in this list. Turned out that in Suriname, the number of days it takes to start a business was 694!
				</p>
			</div>
		</div>
	</section>

</div>
