<div class="page-wrapper redesign">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Apple Watch Redesign</h1>
	          <h2>My Take On The Apple Watch UI</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
					<div class="text-center col-md-12">
						<ul class="roles">
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-puzzle"></div>
								<p>Ideation</p>
							</li>
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-finger-tap2"></div>
								<p>Interaction Design</p>
							</li>
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-3 col-sm-4 col-xs-4">
								<div class="lnr lnr-magic-wand"></div>
								<p>Animation</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="text-center">
		<div class="container">
			<h3>APPLE WATCH UI REDESIGN</h3>
			<p class="col-md-8 col-md-offset-2 pad-bottom-40">This is a concept for smartwatch user interfaces. It was inspired by the way GSM cells are arranged in a cellular network.</p>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="app/components/redesign/img/apple-watch.jpg" alt="Apple Watch">
				</div>
      </div>
      <hr>
      <h4>COMPARISON</h4>
      <p class="col-md-8 col-md-offset-2 pad-bottom-40">A comparison of different types of arrangements</p>
      <div class="row">
				<div class="col-md-12">
					<img src="app/components/redesign/img/comparison.jpg" alt="Apple Watch">
				</div>
      </div>
      <hr>
      <h4>HEXAGONAL ARRANGEMENT</h4>
      <p class="col-md-8 col-md-offset-2 pad-bottom-40">Hexagonal packing utilizes the surface area more efficiently. Here are some technical details.</p>
      <div class="row">
				<div class="col-md-12">
					<img src="app/components/redesign/img/hexagonal.jpg" alt="Apple Watch">
				</div>
      </div>
      <hr>
      <h4>IN ACTION</h4>
      <p class="col-md-8 col-md-offset-2 pad-bottom-40">The concept in rectangular and circular displays</p>
      <div class="row">
				<div class="col-md-8 col-md-offset-2">
					<img src="app/components/redesign/img/inaction.jpg" alt="Apple Watch">
				</div>
      </div>
      <hr>
      <h4>MOTION DESIGN</h4>
      <p class="col-md-8 col-md-offset-2 pad-bottom-40">How the user would interact with the device</p>
      <div class="row">
				<div class="col-md-12">
					<img src="app/components/redesign/img/motion.gif" alt="Apple Watch">
				</div>
      </div>
    </div>
  </section>
</div>
