$infoviz-primary-color: #0D9EBF;

.page-wrapper.infoviz {
	margin-top: 50px;
	h3, h4 {
		color: $infoviz-primary-color;
	}
	.design-question {		
		blockquote {
			font-family: 'Quattrocento', Georgia;
			font-size: 2em;
			border-left: 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			letter-spacing: .01em;
		}
	}
	.hero {
		//background: url(#{$chatifyLoc}/img/chatify.jpg) #000 fixed;
		margin-bottom: 40px;
		background-color: $infoviz-primary-color;
		background-size: 100% 120%;
		background-position-y: 100%;
		color: $white;
		.roles {
				li {
					
					padding-top: 10px;
				}
				.lnr {
					font-size: 1.5em;
					color: $white;
					font-size: 1.2em;
					padding-bottom: 0;
				}
				p {
					line-height: 1.4;
					padding-top: 4px;
				}
			}
		  h1 {
			  font-size: 72px;
			  font-family: $opensans;
			  margin-top: 40px;
			}
			h2 {
			  font-size: 48px;
			  font-family: $unisans;
			  line-height: 1.5em;
			}
			.project-summary h3, 
			.project-summary h4{
				color: $white;
				padding-bottom: 0;
				padding-top: 60px;
			}
	}
	.tableau {
		overflow: scroll;
	}
	
}
@media (max-width: 768px) {
	.page-wrapper.graphics {
		.hero {
			h1 {
				font-size: 56px;
    			padding-top: 40px;	
			}
			h2 {
				font-size: 36px;
	   			padding-bottom: 20px;
	   			margin-top: 20px;
			}
		}
	}
}

@media (max-width: 480px) {
	.page-wrapper.graphics {
		.hero {
			h1 {
				font-size: 36px;
	    	margin-top: 30px;
			}
			h2 {
				font-size: 18px;
	    	padding-bottom: 20px;
			}
		}
		.product h2 {
			font-size: 1em;
			padding-top: 20px;
		}
	}
}