<div class="page-wrapper chatify">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Chatify</h1>
	          <h2>Connecting people with local businesses</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
				<div class="row">
					<div>
						<ul class="roles">
							<li class="col-md-2">
								<div class="lnr lnr-puzzle"></div>
								<p>Problem Solving</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-pencil"></div>
								<p>Wireframing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-clipboard-check"></div>
								<p>Usability Testing</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-laptop-phone"></div>
								<p>Prototyping</p>
							</li>
							<li class="col-md-2">
								<div class="lnr lnr-code"></div>
								<p>Fronte-end Development</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="product">
		<div class="container">
			<div class="row pad-bottom-40">
				<div class="section-title">
					<h3>INTRODUCTION</h3>
					<p class="text-big col-md-8 col-md-offset-2 pad-bottom-40">Chatify is a mobile application that helps people get in touch with local businesses, a brand new channel for customer service.</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<img src="app/components/chatify/img/prototypes/chat-list.jpg" alt="Chat">
				</div>
				<div class="col-md-4 text-center"><h2 class="pad-bottom-40">Chat with businesses</h2>
					<p>Ping local businesses and ask them whatever you want. Receive instant replies.</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<img src="app/components/chatify/img/prototypes/chat.jpg" alt="Chat">
				</div>
			</div>
			<div class="row pad-bottom-40">
				<div class="col-md-4 col-sm-6 col-xs-6">
					<img src="app/components/chatify/img/prototypes/chatify-phone.png" alt="Chat">
				</div>
				<div class="col-md-4 text-center"><h2 class="pad-bottom-40">Local Deals</h2>
					<p>Find local deals best suited for you at local outlets, shops and malls.</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<img src="app/components/chatify/img/prototypes/deal-details.jpg" alt="Chat">
				</div>
			</div>
		<div class="row pad-bottom-40">
				<div class="col-md-4 col-sm-6 col-xs-6">
					<img src="app/components/chatify/img/prototypes/businesses.jpg" alt="Chat">
				</div>
				<div class="col-md-4 text-center"><h2 class="pad-bottom-40">Get Discovered</h2>
					<p>Register your business, get listed and found by your prospective customers.</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<img src="app/components/chatify/img/prototypes/upload-deal.jpg" alt="Chat">
				</div>
			</div>
		</div>
	</section>
	<section class="intro">
		<div class="container">
			<hr>
			<div class="row">
				<div class="section-title">
					<h3>PROBLEMS SOLVED</h3>
				</div>
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p class="pad-bottom-40">This is a project I worked on for a company in the finance domain. This was one of the most interesting projects in my career as the project was filled with complexities and uncertainties.</p>
					</div>
					<div class="col-md-2"></div>
			</div>
			<ul class="row intro-snippets">	
				<li class="col-md-3 col-sm-6 text-center">
					<div class="lnr-holder"><span class="lnr lnr-sync lnr-lg"></span></div>
					<p class="icon-caption">Application Redesign</p>
				</li>
				<li class="col-md-3 col-sm-6 text-center">
					<div class="lnr-holder"><span class="lnr lnr-laptop-phone lnr-lg"></span></div>
					<p class="icon-caption">Designing New Features</p>
				</li>
				<li class="col-md-3 col-sm-6 text-center">
					<div class="lnr-holder"><span class="lnr lnr-thumbs-up lnr-lg"></span></div>
					<p class="icon-caption">Improving Brand Credibility</p>
				</li>
				<li class="col-md-3 col-sm-6 text-center">
					<div class="lnr-holder"><span class="lnr lnr-group-work lnr-lg"></span></div>
					<p class="icon-caption">Improving Customer Experience</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="user-research">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>USER RESEARCH</h3>
				<div class="row">
					<p class="col-md-8 col-md-offset-2 pad-bottom-40">User Research and Market Research were conducted by the client prior to creating the business model so I wasn't involved in this part. However, I did make some suggestions to create Personas to help client visualize who they were creating the application for. In addition, I helped create a mindset map to document the mindsets with which people download the application and interact with it.</p>
				</div>
				<ul class="row">
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-users2 lnr-lg"></span></div>
						<p class="icon-caption">Personas</p>
						<p>Based on the features the client described, I documented 2 primary personas</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-grid lnr-lg"></span></div>
						<p class="icon-caption">Storyboards</p>
						<p>Storyboard helped prioritize the more important features and justify decisions on interaction design</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<div class="lnr-holder"><span class="lnr lnr-bubble-question lnr-lg"></span></div>
						<p class="icon-caption">Mindset Maps</p>
						<p>Mindset maps helped document the various thoughts people had at every touchpoint with the Chatify service</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="storyboard">
		<div class="container">
			<hr>
			<div class="row section-title">
				<h3>STORYBOARD</h3>
				<p class="col-md-8 col-md-offset-2">Here is a storyboard depicting the main features that drive the business for Chatify.</p>
			</div>
			<div class="row">
				<img class="wireframe pad-bottom-40" src="app/components/chatify/img/process/storyboard.jpg" alt="Storyboard">
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>PERSONAS</h3>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/process/personas.jpg">
			</div>
			<div class="row">
				<p class="col-md-8 col-md-offset-2">Our personas paved the way for an empathy driven design process. That's not in saying that documenting a persona leads to empathy, but a thoughtful and thorough research process prior to that helped gain a good understanding of the people we were designing for. This helped craft the personas in such a manner that they were instrumental in driving the decision making in the rest of the process.
				</p>
			</div>
		</div>
	</section>
	<section class="sitemap">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>SITEMAP</h3>
				<p class="col-md-8 col-md-offset-2 pad-bottom-40">Creating the sitemap helped communicate an overview of the application. This also helped design the navigation effectively.</p>
				<img class="wireframe pad-bottom-40" src="app/components/chatify/img/process/flow.png" alt="Sitemap">
			</div>
		</div>
	</section>
	<section class="mindset-maps">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>MINDSET MAPS</h3>
				<p class="col-md-9 col-md-offset-2 pad-bottom-40">There were some discussions I had with the client to justify design decisions made about certain interactions. It was useful to document some of the mindsets that people had at various touchpoints.</p>
				<img class="wireframe pad-bottom-40" src="app/components/chatify/img/process/mindsets.jpg" alt="Mindsets">
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>SKETCHES</h3>
				<img class="wireframe pad-bottom-40" src="app/components/crm/img/process/sketches.jpg">
			</div>
			<div class="row">
				<h4 class="text-center">OVERVIEW</h4>
				<p class="col-md-8 col-md-offset-2">By the time we finished our research, we were way ahead of our budget and behind timelines. I had very little budget remaining but at the same time come up with quality wireframes and prototypes as deliverables for this phase.
				</p>
			</div>
			<div class="row">
				<h4 class="text-center">STEP 1: Concept Sketching</h4>
				<p class="col-md-8 col-md-offset-2">Once we had laid out the functional and non-functional requirements, I laid out some concepts with some sketches that covered some of the key features. These were around business strategies for the clients over the actual user interface, such as features, analytics and reports.</p>
			</div>
			<div class="row">
				<h4 class="text-center">STEP 2: UI Flow</h4>
				<p class="col-md-8 col-md-offset-2">I created some high level concepts for the user interface and rough sitemaps on the flow of screens. This was a rapid process as I could not afford to iterate much on the wireframes which was the next step. It was worth exploring quite a bit with sketches, a valuable tool indeed.</p>
			</div>
			<div class="row">
				<h4 class="text-center">STEP 3: Mobile-First</h4>
				<p class="col-md-8 col-md-offset-2">My sketches first covered the mobile viewport. This was to not just ensure that the responsive designs were feasible, but also in making sure that the experience was consistent and intuitive across platforms. Some of the users had to access this application out on the field and it was crucial to nail this down.</p>
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>DESIGN CONSIDERATIONS</h3>
				<ul>
					<li class="col-md-4 gray-box">
						<p>Localization</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Internationalization</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Limited budget</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Stringent timelines</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Existing Architecture</p>
					</li>
					<li class="col-md-4 gray-box">
						<p>Implementation budget</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>WIREFRAMES</h3>
			</div>
			<div class="row">
				<p class="col-md-8 col-md-offset-2 pad-bottom-40">These were some initial wireframes I created based on my sketches. Wireframes were made for the purpose of content, flow and layout. Screens that had similar layouts were omitted due to low budget.</p>
			</div>
			<img class="wireframe pad-bottom-40" src="app/components/chatify/img/wireframes/wireframes.jpg">
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>THE OUTCOME</h3>
			</div>
			<div class="row">
				<ul>
					<li class="col-md-4 pad-bottom-40">
						<span class="lnr lnr-check lnr-lg col-md-3"></span>
						<p class="col-md-9">   The solution opened up new business channels for our client</p>
					</li>
					<li class="col-md-4 pad-bottom-40"><span class="lnr lnr-check lnr-lg col-md-3"></span>
						<p class="col-md-9">   The solution promises to drastically reduce manual labor</p>
					</li>
					<li class="col-md-4 pad-bottom-40">
						<span class="lnr lnr-check lnr-lg col-md-3"></span>
						<p class="col-md-9">   Our design process was well received and highly appreciated</p>
					</li>
					<li class="col-md-4">
						<span class="lnr lnr-check lnr-lg col-md-3"></span>
						<p class="col-md-9">   I was able to get people in my organization to better understand the importance of research in a design process</p>
					</li>
					<li class="col-md-4">
						<span class="lnr lnr-check lnr-lg col-md-3"></span>
						<p class="col-md-9">   This was the first of many projects in our partnership with this client and we got off to a good start with projects in the pipeline</p>
					</li>
					<li class="col-md-4">
						<span class="lnr lnr-check lnr-lg col-md-3"></span>
						<p class="col-md-9">   I happened to be an "intern" on paper but this project helped gain trust right from the project manager to the CEO</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>FURTHER DETAILS</h3>
			</div>
			<div class="row">
				<p class="col-md-8 col-md-offset-2">This project is currently in development phase. I can share some interesting stories about the design process in this project if you're interested in interviewing me for a job. Some parts have been intentionally left out to protect confidentiality of the client.
			</div>
		</div>
	</section>
</div>
