<div class="page-wrapper milan">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Snack Smart</h1>
	          <h2>Helping Parents Make The Right Choices</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
					<div>
						<ul class="roles">
							<li class="col-md-2 col-sm-6 col-xs-6">
								<div class="lnr lnr-puzzle"></div>
								<p>Problem Solving</p>
							</li>
							<li class="col-md-2 col-sm-6 col-xs-6">
								<div class="lnr lnr-user"></div>
								<p>User Research</p>
							</li>
							<li class="col-md-2 col-sm-6 col-xs-6">
								<div class="lnr lnr-pencil"></div>
								<p>Wireframing</p>
							</li>
							<li class="col-md-2 col-sm-6 col-xs-6">
								<div class="lnr lnr-brush"></div>
								<p>Visual Design</p>
							</li>
							<li class="col-md-2 col-sm-6 col-xs-6">
								<div class="lnr lnr-laptop-phone"></div>
								<p>Prototyping</p>
							</li>
							<li class="col-md-2 col-sm-6 col-xs-6">
								<div class="lnr lnr-sync"></div>
								<p>Iterations</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="text-center">
			<h3 class="text-center">DESIGN</h3>
			<h4 class="text-center">WIREFRAMES</h4>
			</div>
			<div class="row">
				<div class="section-title col-md-12">
					<img class="wireframe" src="app/components/milan/img/wireframes/wireframes.jpg" alt="Wireframe">
				</div>
				<h4 class="text-center">PROTOTYPES</h4>
				<div class="section-title col-md-12">
					<img class="wireframe" src="app/components/milan/img/prototypes/prototypes.jpg" alt="Prototype">
				</div>
			</div>
		</div>
	</section>
	<section class="problem">
		<div class="container">
		<hr>
			<div class="row">
				<div class="section-title">
					<h3>THE DESIGN PROCESS</h3>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h4 class="text-center">CONTEXT</h4>
					<img src="app/components/milan/img/process/presentation.jpg" alt="Presentation">
					<p>This was a school project as part of User Centered Design course at Unviersity of Washington. The theme for the course was "UX For Good" and we chose Health & Nutrition as our topic.</p>
					<h4 class="text-center">THE TEAM</h4>
					<div class="team">
						<img src="app/components/milan/img/process/team.jpg" alt="Team">
					</div>
					<h4 class="text-center">MY ROLES</h4>
					<ul class="toc-list">
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-cog lnr-lg"></span>
								<p class="icon-caption">Planning</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-magnifier lnr-lg"></span>
								<p class="icon-caption">User Research</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-users2 lnr-lg"></span>
								<p class="icon-caption">Personas</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-magic-wand lnr-lg"></span>
								<p class="icon-caption">Ideation</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-pencil lnr-lg"></span>
								<p class="icon-caption">Wireframing</p>
							</div>
						</li>
						<li class="col-md-4 col-sm-3 col-xs-6">
							<div class="text-center"><span class="lnr lnr-smartphone lnr-lg"></span>
								<p class="icon-caption">Prototyping</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</section>
	<section class="user-research">
		<div class="container">
		<hr>
			<div class="row">
				<div class="section-title">
					<h3>DESIGN PROCESS</h3>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<img src="app/components/milan/img/process/process.png" alt="Process">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="user-research">
		<div class="container">
		<hr>
			<div class="row">
				<div class="section-title">
					<h3>USER RESEARCH</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h4>User Interviews</h4>
					<p>The hackthon event was a 1 day event. We spent more time in research and ideation as we had the skills to come up with quick and awesome prototypes. Sonal and Surya took the lead in coming up with a research plan. We conducted 3 interviews each for 5 minutes.</p>
					<h4>Research Questions</h4>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<ul class="questions">
					<li class="col-md-4 col-sm-6 gray-box">
						<p>What kind of notes do they take?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>How do they set reminders for themselves?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>When was the last time they forgot something?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>What kind of apps do they use to track tasks?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>What do they put on their calendar?</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>How do they take notes and find them later?</p>
					</li>
				</ul>
			</div>
		</div>
	</section> -->
	<section class="personas">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>PERSONAS</h3>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p class="pad-bottom-40"></p>
					</div>
					<div class="col-md-2"></div>
				</div>
				<img src="app/components/milan/img/process/personas.jpg" alt="Primary Persona" class="pad-bottom-40">
		</div>
	</section>
</div>
