<div class="page-wrapper hop">
	<section class="hero">
		<div class="container">
			<div class="row">
				<div>
					<hgroup class="text-center">
	          <h1>Hop</h1>
	          <h2>Grocery Shopping Made Easy</h2>
          </hgroup>
        </div>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
    			<!-- <ul>
    				<li class="col-md-4">
    					<span class="fa fa-search fa-2x"></span><h3>Project Intro</h3>
    					<p>Hop is a mobile application for making your grocery shopping fun, efficient and meaningful. This was a design challenge given to me by Idean.</p>
  					</li>
  					<li class="col-md-4">
  						<span class="fa fa-user fa-2x"><h3>Roles</h3>
  					</li>
  					<li class="col-md-4">
  						<span class="fa fa-pencil fa-2x"></span><h3>Tools</h3>
  					</li>
    			</ul> -->
					<p>Hop is a mobile application for making your grocery shopping fun, efficient and meaningful. </p>
				</div>
			</div>
    </div>
	</section>
	<section class="product">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="http://placehold.it/350x600">
				</div>
				<div class="col-md-8">
					<p class="text-center">lorem ipsum dolor sit amet si cajun lorod molor boren</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<p class="text-center">lorem ipsum dolor sit amet si cajun lorod molor boren</p>
				</div>
				<div class="col-md-4">
					<img src="http://placehold.it/350x600">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="http://placehold.it/350x600">
				</div>
				<div class="col-md-8">
					<p class="text-center">lorem ipsum dolor sit amet si cajun lorod molor boren</p>
				</div>
			</div>
		</div>
	</section>
	<section class="problem">
		<div class="container">
			<div class="section-title">
				<h3>Problem Statement (Add chevrons after this)</h3>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<p>In Feb 2015, I was given a design challenge by Idean, a design agency in the US - make grocery shopping fun, efficient and meaningful. The solution I presented got me the internship offer from Idean.</p>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</section>
	
</div>