.page-wrapper.hop {
	section {
		margin-top: 40px;
	}
	.hero {
		background-image: url(#{$hopLoc}/img/hop.jpg);
		background-size: 100% 120%;
	    -webkit-background-size: 100% 120%;
	    -moz-background-size: 100% 120%;
	    -o-background-size: 100% 120%;
		color: $white;
		  .phone {
		    background: url(#{$hopLoc}/img/hop-phone.png) no-repeat 100% 50%;
		    background-size: 96% auto;
		    background-position: left;
		  }
		  h1 {
			  font-size: 72px;
			  font-family: $opensans;
			  margin-top: 80px;
			}
			h2 {
			  font-size: 48px;
			  font-family: $unisans;
			  line-height: 1.5em;
			}
			.phone {
		    background: url(#{$hopLoc}/img/hop-phone.png) no-repeat 100% 50%;
		    background-size: 96% auto;
		    background-position: left;
		  }
	}
	.product {

		p {
			padding-top: 100px;
			font-size: 2em;
			font-family: $opensans;
			font-weight: bolder;
		}
	}
}
@media (max-width: 768px) {
	.page-wrapper.hop {
		.hero {
			h1 {
				font-size: 56px;
    		padding-top: 40px;	
			}
			h2 {
				font-size: 36px;
   			padding-bottom: 20px;
   			margin-top: 20px;
			}
		}
	}
}

@media (max-width: 480px) {
	.page-wrapper.hop {
		.hero {
			h1 {
				font-size: 36px;
	    	margin-top: 30px;
			}
			h2 {
				font-size: 18px;
	    	padding-bottom: 20px;
			}
		}
	}
}