<div class="page-wrapper hop">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Hop</h1>
	          <h2>Grocery Shopping Made Easy</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
    			<!-- <ul>
    				<li class="col-md-4">
    					<span class="fa fa-search fa-2x"></span><h3>Project Intro</h3>
    					<p>Hop is a mobile application for making your grocery shopping fun, efficient and meaningful. This was a design challenge given to me by Idean.</p>
  					</li>
  					<li class="col-md-4">
  						<span class="fa fa-user fa-2x"><h3>Roles</h3>
  					</li>
  					<li class="col-md-4">
  						<span class="fa fa-pencil fa-2x"></span><h3>Tools</h3>
  					</li>
    			</ul> -->
					<p>Hop is a mobile application for making your grocery shopping fun, efficient and meaningful. </p>
				</div>
			</div>
    </div>
	</section>
	<section class="product">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="http://placehold.it/350x600">
				</div>
				<div class="col-md-8">
					<p class="text-center">lorem ipsum dolor sit amet si cajun lorod molor boren</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<p class="text-center">lorem ipsum dolor sit amet si cajun lorod molor boren</p>
				</div>
				<div class="col-md-4">
					<img src="http://placehold.it/350x600">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="http://placehold.it/350x600">
				</div>
				<div class="col-md-8">
					<p class="text-center">lorem ipsum dolor sit amet si cajun lorod molor boren</p>
				</div>
			</div>
		</div>
	</section>
	<section class="problem">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>THE FULL STORY...</h3>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h4>CONTEXT</h4>
					<p>In Feb 2015, I was given a design challenge by Idean, a design agency in the US - make grocery shopping fun, efficient and meaningful. The solution I presented got me the internship offer from Idean.</p>
					<h4>THE DESIGN CHALLENGE</h4>
					<p>"How might we make the <strong>grocery shopping experience</strong> more ..."</p>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		<div class="row">	
			<div class="col-md-4 col-sm-4 text-center">
				<div class="lnr-holder"><span class="lnr lnr-thumbs-up lnr-lg"></span></div>
				<p class="icon-caption">Efficient</p>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="lnr-holder"><span class="lnr lnr-smile lnr-lg"></span></div>
				<p class="icon-caption">Meaningful</p>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="lnr-holder"><span class="lnr lnr-heart lnr-lg"></span></div>
				<p class="icon-caption">Fun</p>
			</div>
		</div>
		</div>
	</section>
	<section class="challenge">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3>HOW I SAW THE PROBLEM</h3>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
				<p>There were numerous mobile applications out there that attempted to solve this problem. Before diving into the solution, it was important to validate if this was a real problem that I was solving. (Spoiler alert: Turned out that it was). I had to consider different constraints to analyze the problem.</p>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		<div class="row">
			<ul class="questions">
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Is this a real problem and is it worth solving?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How can research inform the design?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>What are competitor strengths and weaknesses?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>What is the contextual relevance?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How to involve potential users in the research?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How can success be measured?</p>
				</li>
			</ul>
		</div>
		</div>
	</section>
	<section class="process">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>THE DESIGN PROCESS...</h3>
					<img src="app/components/hop/img/process.png">
				</div>
		</div>
	</section>
	<section class="planning">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>PLANNING THE PROCESS...</h3>
					<img src="app/components/hop/img/planning.png">
				</div>
		</div>
	</section>
</div>
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">