
<div class="page-wrapper hop">
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h1>HOP</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">	
					<h2 class="text-center pad-bottom-40">How can grocery shopping be ...</h2>
					<div class="col-md-4 col-sm-4 text-center">
						<div class="lnr-holder"><span class="lnr lnr-thumbs-up lnr-lg"></span></div>
						<p class="icon-caption">Efficient</p>
					</div>
					<div class="col-md-4 col-sm-4 text-center">
						<div class="lnr-holder"><span class="lnr lnr-smile lnr-lg"></span></div>
						<p class="icon-caption">Meaningful</p>
					</div>
					<div class="col-md-4 col-sm-4 text-center">
						<div class="lnr-holder"><span class="lnr lnr-heart lnr-lg"></span></div>
						<p class="icon-caption">Fun</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 video-container">
					<video class="phone-bg" autoplay loop controls poster="none">
			            <source src="app/components/hop/videos/hop.webm" type='video/webm' />
			            <source src="app/components/hop/videos/hop.mp4" type='video/mp4' />
			            <source src="app/components/hop/videos/hop.ogv" type='video/ogv' />
			        </video>
				</div>
			</div>
		</div>
	</section>
	<section class="process">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>THE DESIGN PROCESS</h3>
					<img class="col-md-8 col-md-offset-2" src="app/components/hop/img/process.gif">
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p>Skills involved in this project for wireframing and prototyping were quite rudimentary so I planned the process such that more research and ideation were done upfront to inform the design throughout the process. </p>
					</div>
				</div>
		</div>
	</section>
	<!-- <section class="toc">
		<div class="container">
			<hr>
			<div class="row">
				<div class="section-title">
					<h3>PROJECT MILESTONES</h3>
				</div>
				<ul class="toc-list">
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-magnifier lnr-lg"></span>
							<p class="icon-caption">User Research</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-users2 lnr-lg"></span>
							<p class="icon-caption">Personas</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-pie-chart lnr-lg"></span>
							<p class="icon-caption">Analysis</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-magic-wand lnr-lg"></span>
							<p class="icon-caption">Ideation & Brainstorming</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-pencil lnr-lg"></span>
							<p class="icon-caption">Wireframing</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-checkmark-circle lnr-lg"></span>
							<p class="icon-caption">Usability Testing</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-smartphone lnr-lg"></span>
							<p class="icon-caption">Prototyping</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6">
						<div class="text-center"><span class="lnr lnr-code lnr-lg"></span>
							<p class="icon-caption">Front-end Development</p>
						</div>
					</li>	
				</ul>
				
			</div>
		</div>
	</section> -->
	<!-- <section class="how-i-saw">
		<div class="container">
			<hr>
			<div class="row">
				<div class="section-title">
					<h3>HOW I SAW THE PROBLEM</h3>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
				<p>There were numerous mobile applications out there that attempted to solve this problem. Before diving into the solution, it was important to validate if this was a real problem that I was solving. (Spoiler alert: Turned out that it was). I had to consider different constraints to analyze the problem.</p>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		<div class="row">
			<ul class="questions">
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Is this a real problem and is it worth solving?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How can research inform the design?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>What are competitor strengths and weaknesses?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>What is the contextual relevance?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How to involve potential users in the research?</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>How can success be measured?</p>
				</li>
			</ul>
		</div>
		</div>
	</section> -->
	<!-- <section class="planning">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>PLANNING THE PROCESS</h3>
					<img src="app/components/hop/img/planning.gif">
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Though the process has been represented linearly above, it wasn't so. There were times when ideation and sketching had to be done in parallel. Usability testing and prototyping overlapped. Ideation continuted throughout the process. Documentation of the process started on day 1 but finalized prior to presentation to stakeholders. </p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
	</section> -->
	<section class="user-research">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>USER RESEARCH</h3>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>The research involved a 30 minute Guerilla contextual observation that was conducted in Safeway Grocery store at University District, Seattle.</p>
					<h4>RESEARCH SUMMARY</h4>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="text-center"><span class="lnr lnr-map-marker lnr-lg"></span>
						<p class="icon-caption">Safeway<br>U District, Seattle</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-center"><span class="lnr lnr-users2 lnr-lg"></span>
						<p class="icon-caption">50+ <br>People Observed</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-center"><span class="lnr lnr-clock lnr-lg"></span>
						<p class="icon-caption">40+<br>Minutes</p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="research-findings">
					<li class="col-md-4 col-sm-6 gray-box">
						<p>Most buyers were parents and students</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>Students purchased very less while parents bought in bulk quantities</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>People wasted time searching for items </p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>People wasted time thinking what they should buy</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>A friend wasn’t sure if he already had a certain item in his pantry</p>
					</li>
					<li class="col-md-4 col-sm-6 gray-box">
						<p>A friend was shy to ask others for directions inside the store</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="personas">
		<div class="container">
			<hr>
			<div class="row">
				<div class="section-title">
					<h3>PERSONAS</h3>
				</div>
				<img class="col-md-6 pad-bottom-40" src="app/components/hop/img/persona1.png">
				<img class="col-md-6 pad-bottom-40" src="app/components/hop/img/persona2.png">
			</div>
		</div>
	</section>
	<!-- <section class="analysis">
		<div class="container">
			<div class="row">
				<hr>
					<div class="section-title">
						<h3>ANALYSIS</h3>
					</div>
				<div class="col-md-12">
				<h4>Competitive Analysis</h4>
				<ul class="competitive-analysis">
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis1.jpg">
						<p><strong>Our Grocery</strong></p>
						<h4>Pros:</h4>
						<p>Shopping list, grocery list</p>
						<h4>Cons:</h4>
						<p>Time consuming</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, <strike>Meaningful</strike>, <strike>Efficient</strike>, Unappealing, Freemium model</p>
					</li>
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis2.jpg">
						<p><strong>Grocery IQ</strong></p>
						<h4>Pros:</h4>
						<p>Grocery & shopping list, coupons & store locator</p>
						<h4>Cons:</h4>
						<p>Time consuming</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, Meaningful, <strike>Efficient</strike>, Organized, Intuitive, Freemium model</p>
					</li>
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis3.jpg">
						<p><strong>Any List</strong></p>
						<h4>Pros:</h4>
						<p>Grocery & recipe list</p>
						<h4>Cons:</h4>
						<p>Solves a different problem</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, <strike>Meaningful</strike>, Efficient, Freemium model</p>
					</li>
					<li class="col-md-3">
						<img src="app/components/hop/img/comp-analysis4.jpg">
						<p><strong>Out Of Milk</strong></p>
						<h4>Pros:</h4>
						<p>Grocery & recipe list</p>
						<h4>Cons:</h4>
						<p>Unnecessary features, poor UX</p>
						<h4>Summary:</h4>
						<p><strike>Fun</strike>, <strike>Meaningful</strike>, <strike>Efficient</strike>, Freemium model</p>
					</li>
				</ul>
				</div>
			</div>
			<h4>Business Model</h4>
			<img src="app/components/hop/img/business-model.jpg">
			<h4>Design Considerations</h4>
			<div class="row">
				<ul class="design-considerations">
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Design for context of problem and need</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Address needs of students and parents</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Take users to what they need to find at the store</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Minimize time spent on app and in store</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Enable users to keep track of what they already have in their pantry</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Provide offers based on search history</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Generate shopping list based on recipes</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>Connect to an ecosystem of products that people use</p>
				</li>
				<li class="col-md-4 col-sm-6 gray-box">
					<p>No more barcode scanners!</p>
				</li>
			</ul>
			</div>
		</div>
	</section> -->
	<section class="feature-list">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>IDEATION & BRAINSTORMING</h3>
				</div>
				<h4 class="text-center">Importance vs Achievability</h4>
				<div class="row pad-bottom-40">
					<img src="app/components/hop/img/matrix.gif" class="col-md-8 col-md-offset-2">
				</div>
				<!-- <h4 class="text-center">Feature Maps</h4>
				<div class="row pad-bottom-40">
				<img src="app/components/hop/img/feature-map-1.gif" class="col-md-6">
				<img src="app/components/hop/img/feature-map-2.gif" class="col-md-6">
				</div> -->
				<h4 class="text-center">Concept Sketches</h4>
				<div class="row">
				<img src="app/components/hop/img/sketch1.jpg" class="col-md-6">
				<img src="app/components/hop/img/sketch2.jpg" class="col-md-6">
				</div> 
		</div>
	</section>
	<section class="ia">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>INFORMATION ARCHITECTURE</h3>
				</div>
				<img src="app/components/hop/img/flow-chart.gif">
		</div>
	</section>
	<section class="wireframes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>WIREFRAMES...</h3>
			</div>
			<div class="row">
			<img class="wireframe" src="app/components/hop/img/wireframes/wireframe1.png">
			<img class="wireframe" src="app/components/hop/img/wireframes/wireframe2.png">
			<img class="wireframe" src="app/components/hop/img/wireframes/wireframe3.png">
			<img class="wireframe" src="app/components/hop/img/wireframes/wireframe4.png">
			</div>
			<!-- <img src="app/components/hop/img/wireframes/all-wireframes.jpg"> -->
		</div>
	</section>
	<section class="visual-design">
		<div class="container">
			<hr>
				<div class="section-title">
					<h3>VISUAL DESIGN</h3>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-6 text-center">
					<h4>Brand Tenets</h4>
					<img src="app/components/hop/img/tenets.jpg">
				</div>
				<div class="col-md-3"></div>
				<div class="row">
				<div class="colors-div col-md-12 text-center">
					<h4>Colors</h4>
					<ul class="colors">
						<li class="c75C03A">#75C03A</li>
						<li class="c000000">#000000</li>
						<li class="c979797">#979797</li>
						<li class="cDCDCDC">#DCDCDC</li>
						<li class="cFFFFFF">#FFFFFF</li>
					</ul>
				</div>
				<div class="col-md-12 text-center">
					<h4>Typography</h4>
					<img src="app/components/hop/img/typography.jpg">
				</div>
		</div>
	</section>
	<section class="prototypes">
		<div class="container">
			<hr>
			<div class="section-title">
				<h3>PROTOTYPES...</h3>
			</div>
			<div class="col-md-3">
				<img class="wireframe" src="app/components/hop/img/prototypes/mainmenu1.png">
			</div>
			<div class="col-md-6 text-center">
				<h4>Home Screen Alternatives</h4>
				<p>The alternatives were tested with 51 users from across the globe. The alternative to your left was performing better with a success rate of 61%. Usability Hub predicted a 95% statistical significance for this result.</p>
			</div>
			<div class="col-md-3">
				<img class="wireframe" src="app/components/hop/img/prototypes/mainmenu2.png">
			</div>
			<h4 class="text-center">MOBILE SCREENS</h4>
			<img class="prototype" src="app/components/hop/img/prototypes/5-mockups1.png">
			<h4 class="text-center">A FEW MORE...</h4>
			<img class="prototype" src="app/components/hop/img/prototypes/5-mockups2.png">
			<div class="row">
				<h4 class="text-center">MARKETING WEBSITE</h4>
				<div class="col-md-8">
					<img class="prototype" src="app/components/hop/img/prototypes/marketing.jpg">
				</div>
				<div class="col-md-4 text-center">
					<img class="prototype" src="app/main/assets/img/bootstrap.png">
				</div>
			</div>
		</div>
	</section>
</div>
