<div class="page-wrapper graphics">
	<section class="hero">
		<div class="container">
			<div class="row">
				<main>
					<hgroup class="text-center">
	          <h1>Graphic Designs</h1>
	          <h2>A Collection of Logo and Graphic designs</h2>
          </hgroup>
        </main>
      </div>
    </div>
    <div class="project-intro">
    	<div class="container">
    		<div class="row">
					<div class="text-center col-md-8 col-md-offset-2">
						<ul class="roles">
							<li class="col-md-4 col-sm-4 col-xs-4">
								<div class="lnr lnr-magic-wand"></div>
								<p>Ideation</p>
							</li>
							<li class="col-md-4 col-sm-4 col-xs-4">
								<div class="lnr lnr-brush"></div>
								<p>Graphic Design</p>
							</li>
							<li class="col-md-4 col-sm-4 col-xs-4">
								<div class="lnr lnr-sync"></div>
								<p>Iterations</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</section>
	<section class="text-center">
		<div class="container">
			<h3>MR. MOW & MAINTENANCE</h3>
			<p class="col-md-8 col-md-offset-2 pad-bottom-40">Very first submission for a crowdsourced project</p>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="app/components/graphics/img/mow.jpg" alt="Mow">
				</div>
      </div>
      <h4>PROCESS</h4>
      <div class="row">
				<div>
					<img src="app/components/graphics/img/mow-process.png" alt="Process">
	      </div>
    	</div>
    </div>
  </section>
	<section class="text-center">
		<div class="container">
			<hr>
			<h3>MUSICAL ELEPHANT</h3>
			<p class="col-md-8 col-md-offset-2 pad-bottom-40">Combining elements of an animal and music</p>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<img src="app/components/graphics/img/elephant.png" alt="Musical Elephant">
				</div>
      </div>
      <h4>PROCESS</h4>
      <div class="row">
				<div>
					<img src="app/components/graphics/img/elephant-process.png" alt="Process">
	      </div>
    	</div>
    </div>
  </section>
  <section class="text-center">
		<div class="container">
			<hr>
			<h3>FLAT DESIGN PORTRAIT</h3>
			<p class="col-md-8 col-md-offset-2 pad-bottom-40">Trying out a Flat Design self portrait with Illustrator</p>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="app/components/graphics/img/portrait.jpg" alt="Portrait">
				</div>
      </div>
    </div>
  </section>
  <section class="text-center">
		<div class="container">
			<hr>	
			<h3>EXPOSURE</h3>
			<p class="col-md-8 col-md-offset-2 pad-bottom-40">My take on a logo for Exposure.co</p>
	      <div class="row">
					<div class="col-md-5">
						<img src="app/components/graphics/img/exposure2.jpg" alt="Process">
		      </div>
		      <div class="col-md-2"></div>
		      <div class="col-md-5">
						<img src="app/components/graphics/img/exposure1.jpg" alt="Process">
		      </div>
	    	</div>
    </div>
  </section>
  <section class="text-center">
		<div class="container">
			<hr>
			<h3>BETTER LANGUAGE</h3>
			<p class="col-md-8 col-md-offset-2 pad-bottom-40">What better opportunity do you get to use your skills than to create something for your own mother!</p>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="app/components/graphics/img/language.png" alt="Portrait">
				</div>
			</div>
				<h4>PROCESS</h4>
	      <div class="row">
					<div>
						<img src="app/components/graphics/img/language-process.png" alt="Process">
		      </div>
	    	</div>
    </div>
  </section>
</div>
